lighthouse58.flow
[{"id":"6b378e15.b37fa","type":"tab","label":"Lighthouse"},{"id":"833cb648.87212","type":"tab","label":"Pier"},{"id":"994f187f.fdb19","type":"tab","label":"Lightkeeper Cottage"},{"id":"a3332e83.df4e48","type":"tab","label":"Boathouse"},{"id":"370669f.c2e2516","type":"tab","label":"Weather"},{"id":"1721f7a9.1ec16","type":"tab","label":"Control Unit"},{"id":"426ecb8d.e2a874","type":"tab","label":"Configuration"},{"id":"41748cfc.899a1c","type":"tab","label":"Information"},{"id":"d1290485.23f7b","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"8e529f08.d7e7a8","type":"ui_base","z":"","name":"Lighthouse58 Dashboard","theme":"theme-light"},{"id":"b2de1edd.92efa8","type":"ui_group","z":"a3332e83.df4e48","name":"Boathouse","tab":"d1290485.23f7b","order":4,"disp":true,"width":"6"},{"id":"f78e432.875a7c","type":"ui_tab","z":"370669f.c2e2516","name":"Weather","icon":"dashboard","order":2},{"id":"f25e12d5.2e1658","type":"ui_group","z":"370669f.c2e2516","name":"Weather","tab":"f78e432.875a7c","disp":false,"width":"12"},{"id":"f75add68.190fe","type":"ui_tab","z":"426ecb8d.e2a874","name":"Configuration","icon":"dashboard","order":4},{"id":"d31a7ae.66e3f08","type":"ui_group","z":"","name":"Lightkeeper Cottage","tab":"d1290485.23f7b","order":3,"disp":true,"width":"6"},{"id":"cd3a8a5a.43936","type":"ui_group","z":"370669f.c2e2516","name":"Trend","tab":"f78e432.875a7c","disp":false,"width":"12"},{"id":"428ba794.8c2bc8","type":"ui_group","z":"370669f.c2e2516","name":"Information","tab":"f78e432.875a7c","disp":false,"width":"6"},{"id":"2ce03dcd.c24cc2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3f5ba28b.9d580e","type":"ui_group","z":"426ecb8d.e2a874","name":"Configure","tab":"f75add68.190fe","disp":true,"width":"6"},{"id":"2ed55e8e.49a82a","type":"ui_group","z":"426ecb8d.e2a874","name":"News Updates","tab":"f75add68.190fe","disp":true,"width":"6"},{"id":"82db515a.85067","type":"mqtt-broker","z":"6b378e15.b37fa","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"46932d42.71dbc4","type":"ui_group","z":"6b378e15.b37fa","name":"Lighthouse","tab":"d1290485.23f7b","order":1,"disp":true,"width":"6"},{"id":"3d8cec6d.14a93c","type":"ui_group","z":"833cb648.87212","name":"Pier","tab":"d1290485.23f7b","order":2,"disp":true,"width":"6"},{"id":"e8022704.e666b8","type":"ui_tab","z":"41748cfc.899a1c","name":"Information","icon":"dashboard","order":5},{"id":"26e0f3fc.c2627c","type":"ui_group","z":"41748cfc.899a1c","name":"About","tab":"e8022704.e666b8","disp":true,"width":"6"},{"id":"c009b6d1.2ac25","type":"ui_group","z":"41748cfc.899a1c","name":"News","tab":"e8022704.e666b8","disp":true,"width":"6"},{"id":"9b24e20b.070d7","type":"ui_group","z":"41748cfc.899a1c","name":"Credits","tab":"e8022704.e666b8","disp":true,"width":"6"},{"id":"417dfb7.9f2a504","type":"ui_link","z":"","name":"rwblinn.de","link":"http://www.rwblinn.de","icon":"open_in_browser","target":"newtab","order":1},{"id":"2f91e3b6.c3990c","type":"mqtt-broker","z":"1721f7a9.1ec16","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"28b4bbcc.afd474","type":"ui_tab","z":"1721f7a9.1ec16","name":"Control Unit","icon":"dashboard","order":3},{"id":"1ec601ff.24e646","type":"ui_group","z":"1721f7a9.1ec16","name":"Shutdown","tab":"28b4bbcc.afd474","order":2,"disp":true,"width":"6"},{"id":"a77e398c.89c398","type":"ui_group","z":"1721f7a9.1ec16","name":"Status","tab":"28b4bbcc.afd474","order":1,"disp":true,"width":"6"},{"id":"49b081.55e95f8","type":"comment","z":"a3332e83.df4e48","name":"Object Boathouse","info":"Object:\nboathouse\n\nDevice:\n    roomlight\nActions:\n    on - turn the light on\n    off - turn the light off\n    dim - dim the light between value 0 - 255\nDevice:\n    outdoorlight\nActions:\n    on - turn the light on\n    off - turn the light off\n","x":110,"y":20,"wires":[]},{"id":"1dea0d7c.3f1fab","type":"comment","z":"426ecb8d.e2a874","name":"Object Configuration","info":"Lighthouse 58.\nAn Internet of Things experimental project.\nBy rwblinn.de\n\nThe configuration file, JSON format is stored in:\n/home/pi/liho58/liho58.config\n","x":120,"y":20,"wires":[]},{"id":"c800e039.bdf8d8","type":"comment","z":"994f187f.fdb19","name":"Object Lightkeeper Cottage","info":"Object:\nlightkeepercottage\n\nDevice:\n\n\n\n\n","x":140,"y":20,"wires":[]},{"id":"b439d188.713348","type":"ui_gauge","z":"370669f.c2e2516","name":"Temperature","group":"f25e12d5.2e1658","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":"-20","max":"40","colors":["#0080c0","#e27803","#ca3838"],"x":730,"y":80,"wires":[]},{"id":"e00f75a3.91ef78","type":"ui_gauge","z":"370669f.c2e2516","name":"WindBeaufort Gauge","group":"f25e12d5.2e1658","order":3,"width":"3","height":"3","gtype":"gage","title":"Wind","label":"Beaufort","format":"{{value}}","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"x":760,"y":420,"wires":[]},{"id":"e7a80603.4d9878","type":"ui_gauge","z":"370669f.c2e2516","name":"Airpressure","group":"f25e12d5.2e1658","order":2,"width":"3","height":"3","gtype":"gage","title":"Airpressure","label":"mBar","format":"{{value}}","min":"1000","max":"1030","colors":["#00b500","#e6e600","#ca3838"],"x":730,"y":260,"wires":[]},{"id":"3b64bac0.a5a7ee","type":"inject","z":"370669f.c2e2516","name":"Request Weather every 1 hour","topic":"","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"x":180,"y":60,"wires":[["a7602570.55cd68"]]},{"id":"82c6e0e3.389bc8","type":"comment","z":"370669f.c2e2516","name":"Object Weather","info":"Weather information via WeatherUnderground API.\n","x":100,"y":20,"wires":[]},{"id":"a7602570.55cd68","type":"function","z":"370669f.c2e2516","name":"Build URL","func":"//Build the weather underground request url which is send to the http request node.\n//An API key is required (to get from http://weatherunderground.com).\n//The payload sets the position in lat & lon but also the json filename.\n//The topic is positionlatlon\n//Result to be converted to JSON format\n//Example URL:\n//http://api.wunderground.com/api/dcef36bb328eb75a/conditions/q/54.4994,10.2691.json\n\n// Set the apikey and the position\nvar apikey = global.get(\"config\").wundergroundapikey;\nvar latlon = global.get(\"lighthouseposition\");\n\nif(apikey === \"\" || apikey === undefined) return undefined; \nif(latlon === \"\" || latlon === undefined) return undefined; \n\nmsg.url = \"http://api.wunderground.com/api/\" + apikey + \"/conditions/q/\" + latlon + \".json\";\nnode.warn(msg.url);\n//\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["73e4aa5d.199a1c"]]},{"id":"9d6b8210.341498","type":"http request","z":"370669f.c2e2516","name":"","method":"GET","ret":"txt","url":"","tls":"","x":430,"y":240,"wires":[["3e8b4c4f.8f5adc"]]},{"id":"3e8b4c4f.8f5adc","type":"function","z":"370669f.c2e2516","name":"Build Messages","func":"// Extract specific weather data from the parsed weather underground return JSON string\n// Parse the JSON payload\nvar q = JSON.parse(msg.payload);\n\n// Get the selected data from the current_observation data\n\nvar msgtemp_c = {topic:\"weather/temperature\", payload:q.current_observation.temp_c};\n\nvar msgpressure_mb = {topic:\"weather/airpressure\", payload:q.current_observation.pressure_mb};\n\nvar msgwind_degrees = {topic:\"weather/winddirection\", payload:q.current_observation.wind_degrees};\nvar msgwind_gust_kph = {topic:\"weather/windgust\", payload:q.current_observation.wind_gust_kph};\n// Get the wind in beaufort using the npm beaufort package (https://www.npmjs.com/package/beaufort).\n// The global context has been defined in settings.js : functionGlobalContext: {beaufort:require('beaufort')} )\n// The package is installed in the node_modules folder\nvar ws = parseFloat(q.current_observation.wind_gust_kph);\nvar beaufort = global.get('beaufort');\nvar windbeaufort = beaufort(ws, {unit: 'kmh', getName: false});\nvar windname = beaufort(ws, {unit: 'kmh', getName: true});\nvar msgwind_beaufort = {topic:\"weather/windbeaufort\", payload:windbeaufort};\n\n// Build the notes to be assigned to a notesmsg\n//var notes = \"Lighthouse: \" + global.get(\"lighthouse\") + \"<hr>\";\nvar notes = \"Location: \" + q.current_observation.display_location.full + \"<hr>\";\nnotes = notes + \"Observed: \" + q.current_observation.observation_time_rfc822 + \"<br>\";\nnotes = notes + \"Weather: \" + q.current_observation.weather + \"<br>\";\nnotes = notes + \"Wind Speed: \" + q.current_observation.wind_gust_kph + \" = \" + windname + \"<br>\";\nnotes = notes + \"Wind Direction: \" + q.current_observation.wind_dir + \"<br>\";\nnotes = notes + \"UV Index: \" + q.current_observation.UV + \"<br>\";\nnotes = notes + \"Relative Humidity: \" + q.current_observation.relative_humidity + \"<br>\";\nnotes = notes + \"Precip Day (mm): \" + q.current_observation.precip_today_metric + \"<br>\";\nif (q.current_observation.visibility_km == \"N/A\") {\n    notes = notes + \"Visibility (km): Not available<br>\";\n}\nelse {\n    notes = notes + \"Visibility (km): \" + q.current_observation.visibility_km + \"<br>\";\n}\nnotes = notes + \"Weather provided by <a href=\\\"http://www.weatherunderground.com\\\">Weather Underground</a>\"\nvar msgnotes = {topic:\"notes\", payload:notes};\n//\nnode.status({fill:\"green\",shape:\"dot\",text:q.current_observation.observation_time});\n//\nreturn [msgtemp_c, msgpressure_mb, msgwind_beaufort, msgwind_degrees, msgnotes];\n","outputs":"5","noerr":0,"x":440,"y":400,"wires":[["b439d188.713348","12bfbfb0.5a64e","75c6e3ec.e89cdc"],["e7a80603.4d9878","48bd75d8.e6fafc","17d3723d.191ce6"],["e00f75a3.91ef78","50ff2b86.bdc1fc","9a2b8949.f1f518"],["bed2ef1e.1253b8","2b7efbe8.d187b4","ccda1a1b.25878"],["e92d45f3.c69238"]]},{"id":"4364e10c.782d78","type":"ui_dropdown","z":"426ecb8d.e2a874","name":"Select Lighthouse","label":"Select:","group":"3f5ba28b.9d580e","order":2,"width":0,"height":0,"options":[{"label":"LH1","value":"LH1"}],"payload":"","topic":"","x":470,"y":320,"wires":[["6dd94c1.60684b4"]]},{"id":"8b86a0a0.6358f","type":"function","z":"426ecb8d.e2a874","name":"Set Configuration Messages","func":"// Init configuration\n\n// Show the Clock in the OLED64x48 display\nglobal.set(\"showclock\", true);\n\n\n\n/*\n// Set the MQTT topics\n\n// Lighthouse\nvar msglh = {topic:\"lighthouse/lighthouse\", payload:q.lighthouse};\nvar msglhp = {topic:\"lighthouse/position\", payload:q.lighthouseposition};\nvar msglhti = {topic:\"lighthouse/toplightinterval\", payload:q.lighthousetoplightinterval};\n\n// Fishershack\nvar msgfshrl = {topic:\"fishershack/roomlight\",payload:q.fishershackroomlight};\nvar msgfshdm = {topic:\"fishershack/dimmer\",payload:q.fishershackdimmer};\n\n// Return the config \nreturn [msglh,msglhp,msglhti,msgfshrl,msgfshdm];\n*/","outputs":"5","noerr":0,"x":940,"y":180,"wires":[[],[],[],[],[]]},{"id":"a3eeee7f.2bd9e","type":"comment","z":"426ecb8d.e2a874","name":"Set Configuration","info":"","x":110,"y":60,"wires":[]},{"id":"bed2ef1e.1253b8","type":"ui_gauge","z":"370669f.c2e2516","name":"WindDirection","group":"f25e12d5.2e1658","order":4,"width":"3","height":"3","gtype":"compass","title":"","label":"Wind Direction","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"x":740,"y":580,"wires":[]},{"id":"e92d45f3.c69238","type":"ui_text","z":"370669f.c2e2516","group":"428ba794.8c2bc8","order":6,"width":"6","height":"4","name":"Notes","label":"","format":"<font size=\"0.8em\">{{msg.payload}}</font>","layout":"row-left","x":710,"y":740,"wires":[]},{"id":"7e53ea4f.b12dbc","type":"ui_button","z":"370669f.c2e2516","name":"Request Weather adhoc","group":"428ba794.8c2bc8","order":8,"width":"0","height":"0","label":"Weather Request","color":"black","icon":"fa-sign-in","payload":"","payloadType":"str","topic":"","x":150,"y":120,"wires":[["a7602570.55cd68"]]},{"id":"c88cd7e3.0e5a48","type":"ui_template","z":"426ecb8d.e2a874","group":"3f5ba28b.9d580e","name":"Set Toolbar Title","order":3,"width":0,"height":0,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n//\n    $('#titleScript').parent().hide();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/>');\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n\n    // Set the title\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n\n    toolbar.append(div);\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n    })(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"x":470,"y":380,"wires":[[]]},{"id":"12bfbfb0.5a64e","type":"ui_chart","z":"370669f.c2e2516","name":"Temperature","group":"cd3a8a5a.43936","order":0,"width":"3","height":"3","label":"°C","chartType":"line","legend":"false","xformat":"%a","interpolate":"basis","nodata":"","ymin":"10","ymax":"35","removeOlder":"3","removeOlderUnit":"86400","x":730,"y":120,"wires":[["471b8014.19f98"],["7ef7d07d.69cce8"]]},{"id":"48bd75d8.e6fafc","type":"ui_chart","z":"370669f.c2e2516","name":"Airpressure","group":"cd3a8a5a.43936","order":0,"width":"3","height":"3","label":"mBar","chartType":"line","legend":"false","xformat":"%a","interpolate":"basis","nodata":"","ymin":"1000","ymax":"1030","removeOlder":"3","removeOlderUnit":"86400","x":730,"y":300,"wires":[["3c559aee.f35bb6"],["b45983f8.86988"]]},{"id":"50ff2b86.bdc1fc","type":"ui_chart","z":"370669f.c2e2516","name":"WindBeaufort Trend","group":"cd3a8a5a.43936","order":0,"width":"3","height":"3","label":"Bft","chartType":"line","legend":"false","xformat":"%a","interpolate":"basis","nodata":"","ymin":"0","ymax":"12","removeOlder":"3","removeOlderUnit":"86400","x":760,"y":460,"wires":[["8617de63.8087a8"],["be8eb97e.7d47d"]]},{"id":"858b7846.12908","type":"ui_text_input","z":"426ecb8d.e2a874","name":"Create News","label":"Latest News:","group":"2ed55e8e.49a82a","order":1,"width":0,"height":0,"mode":"text","delay":"2000","topic":"lighthouse58/information/news","x":450,"y":760,"wires":[["8b7549e7.5f5438"]]},{"id":"d0564158.356f6","type":"mqtt out","z":"426ecb8d.e2a874","name":"Publish Configuration Messages","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1280,"y":120,"wires":[]},{"id":"d41ddff9.12c6e8","type":"comment","z":"426ecb8d.e2a874","name":"Select a Lighthouse [UI]","info":"Select a lighthouse from a list of lighthouses as defined in the liho58.config file.\nWhen selecting a lighthouse, the lighthouse data (position, toplightinterval) are read from the global config object.\nThe ui_text fields position, lighthouse interval are updated and messages are published.\n","x":130,"y":220,"wires":[]},{"id":"e58468d8.e615b8","type":"mqtt in","z":"426ecb8d.e2a874","name":"","topic":"lighthouse58/information/news","qos":"2","broker":"2ce03dcd.c24cc2","x":150,"y":760,"wires":[["858b7846.12908"]]},{"id":"7ef7d07d.69cce8","type":"file in","z":"370669f.c2e2516","name":"Restore Temperature","filename":"/home/pi/lighthouse58/temperature.dat","format":"utf8","x":1140,"y":120,"wires":[["903082f.ed7a9"]]},{"id":"471b8014.19f98","type":"file","z":"370669f.c2e2516","name":"Save Temperature","filename":"/home/pi/lighthouse58/temperature.dat","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1130,"y":80,"wires":[]},{"id":"903082f.ed7a9","type":"json","z":"370669f.c2e2516","name":"Restore Temperature","x":1140,"y":160,"wires":[["12bfbfb0.5a64e"]]},{"id":"c6f3409b.0ffda","type":"json","z":"370669f.c2e2516","name":"Restore Airpressure","x":1140,"y":340,"wires":[["48bd75d8.e6fafc"]]},{"id":"b45983f8.86988","type":"file in","z":"370669f.c2e2516","name":"Restore Airpressure","filename":"/home/pi/lighthouse58/airpressure.dat","format":"utf8","x":1140,"y":300,"wires":[["c6f3409b.0ffda"]]},{"id":"3c559aee.f35bb6","type":"file","z":"370669f.c2e2516","name":"Save Airpressure","filename":"/home/pi/lighthouse58/airpressure.dat","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1130,"y":260,"wires":[]},{"id":"8617de63.8087a8","type":"file","z":"370669f.c2e2516","name":"Save WindBeaufort","filename":"/home/pi/lighthouse58/windbeaufort.dat","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1140,"y":420,"wires":[]},{"id":"be8eb97e.7d47d","type":"file in","z":"370669f.c2e2516","name":"Restore WindBeaufort","filename":"/home/pi/lighthouse58/windbeaufort.dat","format":"utf8","x":1140,"y":460,"wires":[["85207ec1.dc78"]]},{"id":"85207ec1.dc78","type":"json","z":"370669f.c2e2516","name":"Restore WindBeaufort","x":1140,"y":500,"wires":[["50ff2b86.bdc1fc"]]},{"id":"6dd94c1.60684b4","type":"function","z":"426ecb8d.e2a874","name":"Set Global lighthouse Data","func":"// Set the lighthouse global data based on the selection (msg.payload)\n// Used by various, like the weather api request\n\n// Get the lighthouse data from the configuration data\n\n// Get the list of lighthouses\nvar lharr = global.get(\"config\").lighthouses;\n// node.warn(lharr);\n\n// Find the index of the selected lighthouse (given as msg.payload) in the lighthouses array\nvar idx = FindLightHouse(lharr, msg.payload);\n// TODO: handle not found. for now simply return\nif (idx == -1) return;\n\n// Set the globals related to the lighthouse\n// Name\nvar msgname = {};\nglobal.set(\"lighthousename\", lharr[idx].name);\nmsgname = {topic:\"lighthouse58/lighthouse/name\", payload:lharr[idx].name};\nnode.send(msgname);\n// Position\nvar msgpos = {};\nglobal.set(\"lighthouseposition\", lharr[idx].position);\nmsgpos = {topic:\"lighthouse58/lighthouse/position\", payload:lharr[idx].position};\nnode.send(msgpos);\n// Toplight interval and rgb colors (these must be defined as numeric and not as string in the config file)\nvar msgtli = {};\nglobal.set(\"lighthousetoplightinterval\", lharr[idx].interval.on);\nmsgtli = {topic:\"lighthouse58/lighthouse/toplightinterval\", payload:lharr[idx].interval.on};\nnode.send(msgtli);\n// As numeric\nglobal.set(\"lighthousetoplightcolorr\", lharr[idx].color.r);\nglobal.set(\"lighthousetoplightcolorg\", lharr[idx].color.g);\nglobal.set(\"lighthousetoplightcolorb\", lharr[idx].color.b);\n\n// node.warn(\"Lighthouse Data:\" + lharr[idx].name + \", \" + global.get(\"lighthouseposition\") + \", \" + global.get(\"lighthousetoplightinterval\") );\n\n// Find a lighthouse index in lighthouses array\nfunction FindLightHouse(arr, lh) {\n    var i;\n  \tfor(i = 0; i < arr.length; i++) {\n  \t    if (arr[i].name == lh) return i;\n  \t}\n\treturn -1;\n}\n\nreturn;\n","outputs":"1","noerr":0,"x":940,"y":320,"wires":[["b3228cce.b5f308"]]},{"id":"e64b686c.f90bd","type":"inject","z":"426ecb8d.e2a874","name":"Inject Read Configuration","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":120,"wires":[["445b0799.0aa208"]]},{"id":"d1aef8b2.e041e8","type":"mqtt in","z":"41748cfc.899a1c","name":"","topic":"lighthouse58/information/news","qos":"2","broker":"2ce03dcd.c24cc2","x":150,"y":140,"wires":[["f7279dd5.863ef8"]]},{"id":"f7279dd5.863ef8","type":"ui_template","z":"41748cfc.899a1c","group":"c009b6d1.2ac25","name":"Set News Format & Show","order":2,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n        <b>News</b><br/>\n        {{msg.payload}}\n    </p>\n</div> \n","storeOutMessages":true,"fwdInMessages":true,"x":460,"y":140,"wires":[[]]},{"id":"dd61099f.a50bc","type":"ui_template","z":"41748cfc.899a1c","group":"26e0f3fc.c2627c","name":"Set Version Format & Show","order":1,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n        <b>Lighthouse58 {{msg.payload}}</b><br/>\n        An Internet of Things experimental project by <a href=\"http://www.rwblinn.de\">rwblinn.de</a>\n    </p>\n</div> \n","storeOutMessages":true,"fwdInMessages":true,"x":460,"y":80,"wires":[[]]},{"id":"336abed8.faf9ba","type":"mqtt in","z":"41748cfc.899a1c","name":"","topic":"lighthouse58/information/version","qos":"2","broker":"2ce03dcd.c24cc2","x":150,"y":80,"wires":[["dd61099f.a50bc"]]},{"id":"56b42961.1a5b8","type":"comment","z":"41748cfc.899a1c","name":"Object Information","info":"","x":110,"y":20,"wires":[]},{"id":"cd3562ba.0b6478","type":"comment","z":"6b378e15.b37fa","name":"Object Lighthouse","info":"","x":110,"y":20,"wires":[]},{"id":"8d6a1d7c.b1521","type":"ui_template","z":"41748cfc.899a1c","group":"9b24e20b.070d7","name":"Set Credits","order":3,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#FF0000', 'font-size':'10px'}\">\n        <b>Thank You</b>\n    </p>\n</div> \n<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n        @<a href=\"https://www.ibm.com/blogs/emerging-technology/\">IBM Emerging Technologies</a> for <a href=\"http://nodered.org\">Node-RED</a>.\n    </p>\n</div> \n<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n        @<a href=\"https://www.raspberrypi.org\">Raspberry Pi</a> for including Node-RED in Raspian Jessie</a>.\n    </p>\n</div> \n<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n        @takuya813 on npm for the <a href=\"https://www.npmjs.com/package/beaufort\">Beaufort Scale Convertor</a>.\n    </p>\n</div> \n<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'#000000', 'font-size':'10px'}\">\n    </p>\n</div> \n","storeOutMessages":true,"fwdInMessages":true,"x":410,"y":200,"wires":[[]]},{"id":"2b7efbe8.d187b4","type":"ui_chart","z":"370669f.c2e2516","name":"WindDirection Trend","group":"cd3a8a5a.43936","order":0,"width":"3","height":"3","label":"Deg","chartType":"line","legend":"false","xformat":"%a","interpolate":"basis","nodata":"","ymin":"0","ymax":"360","removeOlder":"3","removeOlderUnit":"86400","x":760,"y":620,"wires":[["d326c571.91aa38"],["976d4ca8.ea98a"]]},{"id":"d326c571.91aa38","type":"file","z":"370669f.c2e2516","name":"Save WindDirection","filename":"/home/pi/lighthouse58/winddirection.dat","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1140,"y":580,"wires":[]},{"id":"976d4ca8.ea98a","type":"file in","z":"370669f.c2e2516","name":"Restore WindDirection","filename":"/home/pi/lighthouse58/winddirection.dat","format":"utf8","x":1150,"y":620,"wires":[["ed2ffaf7.734d2"]]},{"id":"ed2ffaf7.734d2","type":"json","z":"370669f.c2e2516","name":"Restore WindDirection","x":1150,"y":660,"wires":[["2b7efbe8.d187b4"]]},{"id":"d7ca9a37.d778e8","type":"comment","z":"426ecb8d.e2a874","name":"Create News [UI]","info":"","x":100,"y":720,"wires":[]},{"id":"73e4aa5d.199a1c","type":"switch","z":"370669f.c2e2516","name":"Check URL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":430,"y":180,"wires":[[],["9d6b8210.341498"]]},{"id":"3978090.5d45678","type":"ui_switch","z":"6b378e15.b37fa","name":"","label":"Start / Stop:","group":"46932d42.71dbc4","order":4,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"start","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stop","offvalueType":"str","officon":"","offcolor":"","x":90,"y":360,"wires":[["2457220d.1d66be"]]},{"id":"51f15340.874e94","type":"mqtt out","z":"6b378e15.b37fa","name":"Publish Messages to TinkerForge","topic":"","qos":"","retain":"","broker":"82db515a.85067","x":900,"y":360,"wires":[]},{"id":"2457220d.1d66be","type":"function","z":"6b378e15.b37fa","name":"Handle Toplight Interval","func":"// Lighthouse: Handle flashing of the toplight\n// Global configuration settings are used for the interval and the color of the top light\n// \n\n// Init the message for the rgbled.\nvar msgrgbled = {};\nmsgrgbled.topic = \"tinkerforge/bricklet/rgb_led/zJW/rgb_value/set\";\n\n// Set the toplight vars\nvar toplightintervalid;\nvar toplightinterval = global.get(\"lighthousetoplightinterval\");\nif (toplightinterval === undefined){\n    toplightinterval = 5;    \n}\ntoplightinterval = toplightinterval * 1000;\nvar toplighton = false;\n\nswitch (msg.payload) {\n    case \"start\":\n        setNodeStatus('green', 'Top Light started');\n        startTopLight();\n        break;\n\tcase \"stop\":\n        stopTopLight();\n}\n\nfunction startTopLight(){\n    toplightintervalid = setInterval(flashTopLight, toplightinterval);\n    // Keep the setintervalid as needed for clearinterval function\n    global.set(\"toplightintervalid\", toplightintervalid);\n}\n\nfunction flashTopLight(){\n    toplighton = !toplighton;\n    if (toplighton){\n        msgrgbled.payload = { \"r\" : global.get(\"lighthousetoplightcolorr\"), \"g\" : global.get(\"lighthousetoplightcolorg\"), \"b\" : global.get(\"lighthousetoplightcolorb\") };\n        //msgrgbled.payload = { \"r\":255,\"g\":255,\"b\":255 };\n    } else {\n        msgrgbled.payload = {\"r\":0, \"g\":0, \"b\":0};\n    }\n    node.send(msgrgbled);\n    setNodeStatus('green', 'Top Light = ' + toplighton);\n}\n\nfunction stopTopLight() {\n    // use the global id as set by the setinterval\n    clearInterval(global.get(\"toplightintervalid\"));\n    msgrgbled.payload = {\"r\":0,\"g\":0,\"b\":0};\n    node.send(msgrgbled);\n    setNodeStatus('green', 'Top Light stopped.');\n}\n\nfunction setNodeStatus(color, status) {\n    node.status({ fill : color, shape : \"dot\", text : status });\n    var msgtoplightstatus = {}\n    msgtoplightstatus.topic = \"lighthouse58/lighthouse/toplightstatus\";\n    msgtoplightstatus.payload = status;\n    node.send(msgtoplightstatus);\n}\n\nreturn;\n","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["51f15340.874e94"]]},{"id":"718410bd.07207","type":"comment","z":"6b378e15.b37fa","name":"Toplight [RGB LED Bricklet]","info":"Switch flashing the toplight.\nUses JavaScript functions setInterval and clearInterval.\n","x":140,"y":260,"wires":[]},{"id":"e89cb7c8.003368","type":"function","z":"426ecb8d.e2a874","name":"Build Lighthouses Selection","func":"// Build the options from the lighthouses.config file which content is published as:\n// topic:\"lighthouse/config\"\n\n// Parse the payload first\nvar obj = msg.payload;\n//var obj = JSON.parse(msg.payload);\n\n// Set the msg options \n// like msg.options = [ {\"Kieler-Leuchturm\":\"1\"}, {\"Neuwerk\"}, {\"Neuland\"} ];\nmsg.options = LightHousesArray(obj.lighthouses);\n\n// Set the preselected lighthouse, like \"Neuland\";\nmsg.payload = obj.lighthouseselected;\n\n// node.warn(\"Lighthouses:\" + msg.options + \", Selected:\" + msg.payload);\n\n// Build a lighthouses array used by the configuration ui_dropdown\nfunction LightHousesArray(arr) {\n    var lharr = [];\n    var i;\n    for(i = 0; i < arr.length; i++) {\n        lharr.push(arr[i].name);\n    }\n    return lharr;\n}\n\n// Return the options and the default\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":320,"wires":[["4364e10c.782d78"]]},{"id":"c7063dc5.16777","type":"comment","z":"833cb648.87212","name":"Object Pier","info":"","x":90,"y":20,"wires":[]},{"id":"92fa6443.782e4","type":"comment","z":"6b378e15.b37fa","name":"Information Display [OLED 64x48 Bricklet]","info":"","x":180,"y":420,"wires":[]},{"id":"a271a27.03b806","type":"inject","z":"6b378e15.b37fa","name":"Write Line Test [Not Used]","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":940,"wires":[["68f783eb.52b13c"]]},{"id":"68f783eb.52b13c","type":"function","z":"6b378e15.b37fa","name":"Build TinkerForge Messages","func":"// Display Info Message on the TinkerForge OLED 64x48 Display (UID: x6y)\n// Topic: tinkerforge/bricklet/oled_64x48/x6y/write_line/set\n// Line: 0 - 5), Position: 0 - 12), Text max length 13 chars.\n// \"line\":nn, \"position\":nn, \"text\":\"text\"\n\nvar tftopic = \"tinkerforge/bricklet/oled_64x48/x6y/write_line/set\";\nvar tftopicclear = \"tinkerforge/bricklet/oled_64x48/x6y/clear_display/set\";\n\n// Init the messages for each of the oled bricklet lines.\nvar msgoledline0 = {topic: tftopic, payload: {\"line\":0, \"position\":1, \"text\":\"\"} };\nvar msgoledline1 = {topic: tftopic, payload: {\"line\":1, \"position\":0, \"text\":\"\"} };\nvar msgoledline2 = {topic: tftopic, payload: {\"line\":2, \"position\":2, \"text\":\"\"} };\nvar msgoledline3 = {topic: tftopic, payload: {\"line\":3, \"position\":0, \"text\":\"\"} };\nvar msgoledline4 = {topic: tftopic, payload: {\"line\":4, \"position\":0, \"text\":\"\"} };\nvar msgoledline5 = {topic: tftopic, payload: {\"line\":5, \"position\":1, \"text\":\"\"} };\n\n// Clear the display first - done via node.send\nvar msgoledclear = {topic: tftopicclear, payload: null };\nnode.send(msgoledclear);\n\n// Set the payloads for each of the lines\n// Line0\n// msgoledline0.payload.text = \"Info Line0\";\nmsgoledline0.payload.text = \"Information\";\n\n// Line1\n// msgoledline1.payload.text = \"Info Line1\";\n\n// Line2\n//msgoledline2.payload.text = \"Info Line2\";\nmsgoledline2.payload.text = ConvertUnixTime(msg.payload);\nnode.status( { fill : \"green\", shape : \"dot\", text : msgoledline2.payload.text } );\n\n// Line3\n// msgoledline3.payload.text = \"Info Line3\";\n\n// Line4\n// msgoledline4.payload.text = \"Info Line4\";\n\n// Line5\n// msgoledline5.payload.text = \"Info Line5\";\nmsgoledline5.payload.text = global.get(\"liho58version\");\n\n// Function to convert the unix timestamp to local time string HH:MM:SS\nfunction ConvertUnixTime(unixtimestamp){\n    var now = new Date(unixtimestamp);\n    return now.toLocaleTimeString();\n}\n\n// Function to convert the unix datetimestamp to string -- various formats (see return)\nfunction ConvertUnixDate(unixtimestamp){\n    var now     = new Date(unixtimestamp);\n    var year    = now.getFullYear();\n    var month   = now.getMonth() + 1; \n    var day     = now.getDate();\n    var hours   = now.getHours();\n    var minutes = now.getMinutes();\n    var seconds = now.getSeconds(); \n\n    if(month.toString().length == 1) {         \n      month = '0'+month;\n    }\n    if(day.toString().length == 1) {         \n      day = '0'+day;\n    }   \n    if(hours.toString().length == 1) {\n      hours = '0'+hours;\n    }\n    if(minutes.toString().length == 1) {\n      minutes = '0'+minutes;\n    }\n    if(seconds.toString().length == 1) {\n      seconds = '0'+seconds;\n    }   \n  \n    // HH:MM:SS\n    var dts = hours+\":\"+minutes+\":\"+seconds;\n    // YYYYMMDDHHMMSS\n    //var dts = year+month+day+hours+minutes+seconds;\n    // YYYY-MM-DD HH:MM:SS\n    //var dts = year+'-'+month+'-'+day+' '+hours+':'+minutes+':'+seconds;\n\n    return dts;\n}\n\n// Return a message for each of the display lines\nreturn [msgoledline0, msgoledline1, msgoledline2, msgoledline3, msgoledline4, msgoledline5];\n","outputs":"6","noerr":0,"x":580,"y":940,"wires":[[],[],[],[],[],[]]},{"id":"f081335.0513a5","type":"inject","z":"6b378e15.b37fa","name":"Clear Display [Not Used]","topic":"tinkerforge/bricklet/oled_64x48/x6y/clear_display/set","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":880,"wires":[[]]},{"id":"6119c4e7.93b5f4","type":"comment","z":"a3332e83.df4e48","name":"Light Control [RGB LED Bricklet]","info":"","x":150,"y":60,"wires":[]},{"id":"d9c8e950.5abab8","type":"function","z":"370669f.c2e2516","name":"Build TinkerForge Message","func":"// Display weather information at lines 2-5 on the TinkerForge OLED 64x48 Display (UID: x6y).\n\nvar tftopic = \"tinkerforge/bricklet/oled_64x48/x6y/write_line/set\";\n\n// Init the messages for each of the oled bricklet lines used for the weather info (lines 2 - 5)\nvar msgoledline2 = {topic: tftopic, payload: {\"line\":2, \"position\":2, \"text\":\"\"} };\nvar msgoledline3 = {topic: tftopic, payload: {\"line\":3, \"position\":2, \"text\":\"\"} };\nvar msgoledline4 = {topic: tftopic, payload: {\"line\":4, \"position\":2, \"text\":\"\"} };\nvar msgoledline5 = {topic: tftopic, payload: {\"line\":5, \"position\":2, \"text\":\"\"} };\n\n// Check which of the weather topics, build the info and fill the line till 13 characters, then send direct using node.send\n\n// String used to display the line which has max length of 13 characters\nvar line = \"\";\nvar linelength = 13;\nswitch(msg.topic){\n    case \"lighthouse58/weather/temperature\":\n        line = msg.payload + \" C\";\n        line = line + fillstr(\" \", linelength - line.length);\n        msgoledline2.payload.text = line;\n        node.send(msgoledline2);\n        break;\n    case \"lighthouse58/weather/airpressure\":\n        line = msg.payload + \" mB\";\n        line = line + fillstr(\" \", linelength - line.length);\n        msgoledline3.payload.text = line;\n        node.send(msgoledline3);\n        break;\n    case \"lighthouse58/weather/windbeaufort\":\n        line = msg.payload + \" Bft\";\n        line = line + fillstr(\" \", linelength - line.length);\n        msgoledline4.payload.text = line;\n        node.send(msgoledline4);\n        break;\n    case \"lighthouse58/weather/winddirection\":\n        line = msg.payload + \" Deg\";\n        line = line + fillstr(\" \", linelength - line.length);\n        msgoledline5.payload.text = line;\n        node.send(msgoledline5);\n}\n\n//node.warn(\"Weather:\" + msg.payload)\n\n// Fill a string up to num characters - used to ensure a display line is filled else previous chars are shown\nfunction fillstr(str, num) {\n        var holder = [];\n        for(var i=0; i<num; i++) {\n            holder.push(str);\n        }\n        return holder.join('');\n    }\n\n// Return nothing because node.send is used to ensure each topic is send immediate    \nreturn;\n","outputs":"1","noerr":0,"x":480,"y":900,"wires":[["3917c708.cd1268"]]},{"id":"3917c708.cd1268","type":"mqtt out","z":"370669f.c2e2516","name":"Publish Messages to TinkerForge","topic":"","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":800,"y":900,"wires":[]},{"id":"a3b3e57d.7c95b8","type":"comment","z":"370669f.c2e2516","name":"Display Weather [Bricklet OLED 64x48]","info":"","x":170,"y":800,"wires":[]},{"id":"efb67641.744628","type":"mqtt in","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/temperature","qos":"2","broker":"2ce03dcd.c24cc2","x":160,"y":840,"wires":[["d9c8e950.5abab8"]]},{"id":"7333695f.fb7d08","type":"mqtt in","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/airpressure","qos":"2","broker":"2ce03dcd.c24cc2","x":160,"y":880,"wires":[["d9c8e950.5abab8"]]},{"id":"607ce7c9.1ae21","type":"mqtt in","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/winddirection","qos":"2","broker":"2ce03dcd.c24cc2","x":160,"y":960,"wires":[["d9c8e950.5abab8"]]},{"id":"3db506c4.22c66a","type":"mqtt in","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/windbeaufort","qos":"2","broker":"2ce03dcd.c24cc2","x":160,"y":920,"wires":[["d9c8e950.5abab8"]]},{"id":"75c6e3ec.e89cdc","type":"mqtt out","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/temperature","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":800,"y":160,"wires":[]},{"id":"17d3723d.191ce6","type":"mqtt out","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/airpressure","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":800,"y":340,"wires":[]},{"id":"ccda1a1b.25878","type":"mqtt out","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/winddirection","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":810,"y":660,"wires":[]},{"id":"9a2b8949.f1f518","type":"mqtt out","z":"370669f.c2e2516","name":"","topic":"lighthouse58/weather/windbeaufort","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":800,"y":500,"wires":[]},{"id":"445b0799.0aa208","type":"file in","z":"426ecb8d.e2a874","name":"Read Configuration File","filename":"/home/pi/lighthouse58/lighthouse58.config","format":"utf8","x":430,"y":120,"wires":[["abd3fa92.2b7c5"]]},{"id":"abd3fa92.2b7c5","type":"json","z":"426ecb8d.e2a874","name":"Convert JSON","x":680,"y":120,"wires":[["5100eaaf.ff7bfc","e89cb7c8.003368"]]},{"id":"5100eaaf.ff7bfc","type":"function","z":"426ecb8d.e2a874","name":"Set Configuration Global Context","func":"// Set and publish the global configuration object, lighthouse name and liho58 version\n// Set the version (hardcoded while developing) else use global.get(\"config\").version \nvar version = \"20160920\";   \n\n// Set the global configuration object\n// To access the global config object, use like: \"Version:\" + global.get(\"config\").version\n// TODO: Remove this global and stick to mqtt message\nglobal.set(\"config\", msg.payload);\n\n// Publish the global configuration\nvar msgconfig = {topic : \"lighthouse58/lighthouse/config\", payload : msg.payload };\nnode.send(msgconfig);\n\n// Publish the lighthousename based on the lighthouseselected setting\nvar msgname = {topic : \"lighthouse58/lighthouse/name\", payload : global.get(\"config\").lighthouseselected };\nnode.send(msgname);\n\nvar msgversion = {topic : \"lighthouse58/information/version\", payload : version };\n// var msgversion = {topic : \"lighthouse58/information/version\", payload : global.get(\"config\").version };\nnode.send(msgversion);\n\n// Log initial information\nnode.log(\"Lighthouse58 v\" + global.get(\"config\").version);\nnode.log(\"Lighthouse: \" + global.get(\"config\").lighthouseselected);\nnode.log(\"Weather Underground API Key: \" + global.get(\"config\").wundergroundapikey);\n\n// Reset messages\nvar msgmotion = {};\nmsgmotion.topic = \"lighthouse58/pier/motion/start\";\nmsgmotion.payload = \"\";\nnode.send(msgmotion);\nvar msgmotion = {};\nmsgmotion.topic = \"lighthouse58/pier/motion/stop\";\nmsgmotion.payload = \"\";\nnode.send(msgmotion);\n\nreturn;\n","outputs":"1","noerr":0,"x":960,"y":120,"wires":[["d0564158.356f6"]]},{"id":"9552bd3c.e2224","type":"file","z":"426ecb8d.e2a874","name":"","filename":"/home/pi/lighthouse58/lighthouse58.config","appendNewline":false,"createDir":false,"overwriteFile":"true","x":970,"y":860,"wires":[]},{"id":"bb5403f7.9ac568","type":"inject","z":"426ecb8d.e2a874","name":"Inject Save Configuration","topic":"","payload":"config","payloadType":"global","repeat":"","crontab":"","once":false,"x":150,"y":860,"wires":[["407aaccf.04ca5c"]]},{"id":"2c333d3.4cf8bc2","type":"json","z":"426ecb8d.e2a874","name":"Convert JSON","x":660,"y":860,"wires":[["9552bd3c.e2224"]]},{"id":"407aaccf.04ca5c","type":"function","z":"426ecb8d.e2a874","name":"Update Configuration","func":"// Update any configuration items prior saving\n\n// Get the global configuration object\nvar obj = msg.payload;\n\n// Make updates\nobj.saved = new Date();\n\n// Assign to the payload\nmsg.payload = obj;\nnode.warn(msg.payload.saved)\n\n// Return updated global configuration object\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":860,"wires":[["2c333d3.4cf8bc2"]]},{"id":"4f20c0bb.ca9d78","type":"comment","z":"426ecb8d.e2a874","name":"Save Configuration","info":"","x":110,"y":820,"wires":[]},{"id":"f6990d1.85a95f","type":"ui_text","z":"426ecb8d.e2a874","group":"3f5ba28b.9d580e","order":4,"width":0,"height":0,"name":"Lighthouse Position","label":"Position:","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":440,"wires":[]},{"id":"baf1652c.f0b62","type":"ui_text","z":"426ecb8d.e2a874","group":"3f5ba28b.9d580e","order":5,"width":0,"height":0,"name":"Lighthouse Toplight Interval (s)","label":"Toplight Interval (s):","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":500,"wires":[]},{"id":"8b7549e7.5f5438","type":"mqtt out","z":"426ecb8d.e2a874","name":"Publish News Message","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1250,"y":760,"wires":[]},{"id":"b3228cce.b5f308","type":"mqtt out","z":"426ecb8d.e2a874","name":"Publish Lighthouse Setting Messages","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1290,"y":320,"wires":[]},{"id":"1211f2c4.d243c5","type":"mqtt in","z":"6b378e15.b37fa","name":"","topic":"lighthouse58/lighthouse/name","qos":"2","broker":"2ce03dcd.c24cc2","x":140,"y":80,"wires":[["b91f6b1a.b0cc58"]]},{"id":"b91f6b1a.b0cc58","type":"ui_text","z":"6b378e15.b37fa","group":"46932d42.71dbc4","order":1,"width":0,"height":0,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":80,"wires":[]},{"id":"4443e23c.89818c","type":"mqtt in","z":"6b378e15.b37fa","name":"","topic":"lighthouse58/lighthouse/position","qos":"2","broker":"2ce03dcd.c24cc2","x":150,"y":140,"wires":[["3972a1b5.c2dd46"]]},{"id":"5cd9de13.32e2c8","type":"mqtt in","z":"6b378e15.b37fa","name":"","topic":"lighthouse58/lighthouse/toplightinterval","qos":"2","broker":"2ce03dcd.c24cc2","x":170,"y":200,"wires":[["e4a3333d.2a4878"]]},{"id":"3972a1b5.c2dd46","type":"ui_text","z":"6b378e15.b37fa","group":"46932d42.71dbc4","order":2,"width":0,"height":0,"name":"","label":"Position (lat,lon):","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":140,"wires":[]},{"id":"e4a3333d.2a4878","type":"ui_text","z":"6b378e15.b37fa","group":"46932d42.71dbc4","order":5,"width":0,"height":0,"name":"","label":"Interval (s):","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":200,"wires":[]},{"id":"9bb53a12.ca9a8","type":"mqtt in","z":"426ecb8d.e2a874","name":"","topic":"lighthouse58/lighthouse/position","qos":"2","broker":"2ce03dcd.c24cc2","x":150,"y":440,"wires":[["f6990d1.85a95f"]]},{"id":"9daead07.4f5da","type":"mqtt in","z":"426ecb8d.e2a874","name":"","topic":"lighthouse58/lighthouse/toplightinterval","qos":"2","broker":"2ce03dcd.c24cc2","x":170,"y":500,"wires":[["baf1652c.f0b62"]]},{"id":"85bdb4e.c3b33c8","type":"mqtt in","z":"426ecb8d.e2a874","name":"","topic":"lighthouse58/lighthouse/name","qos":"2","broker":"2ce03dcd.c24cc2","x":140,"y":380,"wires":[["c88cd7e3.0e5a48"]]},{"id":"791f77ec.097e","type":"comment","z":"1721f7a9.1ec16","name":"Object Control Unit","info":"","x":110,"y":20,"wires":[]},{"id":"abe1ef71.451c3","type":"mqtt out","z":"6b378e15.b37fa","name":"Publish Clock Message","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":870,"y":460,"wires":[]},{"id":"26b933cc.f04144","type":"inject","z":"6b378e15.b37fa","name":"Run Clock","topic":"lighthouse58/lighthouse/clock","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":110,"y":460,"wires":[["82650465.cc22b8"]]},{"id":"82650465.cc22b8","type":"function","z":"6b378e15.b37fa","name":"Build TinkerForge Message","func":"// Display the time at line 0 on the TinkerForge OLED 64x48 Display (UID: x6y).\n// A global flag is used, to display or hide the clock to be able to show other text on the display.\n// Topic: tinkerforge/bricklet/oled_64x48/x6y/write_line/set\n// Line: 0 - 5, Position: 0 - 12, Text max length 13 chars.\n// \"line\":nn, \"position\":nn, \"text\":\"text\"\n\nvar oledline = 0;\nvar oledposition = 2;\nvar tftopic = \"tinkerforge/bricklet/oled_64x48/x6y/write_line/set\";\n\n// Set the message for the oled bricklet line 0\n// Convert the unix timestamp to local time string HH:MM:SS\nvar now = new Date(msg.payload);\nvar msgoledline = {topic: tftopic, payload: {\"line\":oledline, \"position\":oledposition, \"text\":now.toLocaleTimeString()} };\nnode.status( { fill : \"green\", shape : \"dot\", text : msgoledline.payload.text} );\n\nreturn [msgoledline];\n","outputs":"1","noerr":0,"x":580,"y":460,"wires":[["abe1ef71.451c3"]]},{"id":"742e5b3f.cc97bc","type":"comment","z":"6b378e15.b37fa","name":"Display Clock [Bricklet OLED 64x48]","info":"","x":530,"y":420,"wires":[]},{"id":"de630434.9559c8","type":"comment","z":"6b378e15.b37fa","name":"Not Used","info":"Planned for next version.","x":100,"y":820,"wires":[]},{"id":"d63ed37c.20f588","type":"mqtt in","z":"833cb648.87212","name":"","topic":"tinkerforge/bricklet/motion_detector/wi9/motion_detected","qos":"2","broker":"2ce03dcd.c24cc2","x":230,"y":480,"wires":[["c67295b2.8ab618"]]},{"id":"c67295b2.8ab618","type":"json","z":"833cb648.87212","name":"","x":690,"y":480,"wires":[["4b9f2f26.ff6b08"]]},{"id":"8e7569de.880458","type":"comment","z":"833cb648.87212","name":"Motion Detector","info":"Listen to messages from the TinkerForge Motion Detector.\nValue 0 means no motion detected, else 1.\n","x":100,"y":440,"wires":[]},{"id":"254524ab.0f8914","type":"ui_switch","z":"833cb648.87212","name":"Pier-Outdoorlight-Switch","label":"Switch:","group":"3d8cec6d.14a93c","order":2,"width":0,"height":0,"passthru":true,"topic":"lighthouse58/pier/outdoorlight/switch/set","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":160,"wires":[["158fce0d.6bbf9a"]]},{"id":"158fce0d.6bbf9a","type":"function","z":"833cb648.87212","name":"Build RGB LED Messages","func":"// TF Bricklet: RGBLED\n// Set the pier outdoorlight on / off, dimmerlevel and color by creating a TinkerForge Message\n// msg.topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n// msg.payload = {\"r\":red,\"g\":green,\"b\":blue};\n// Node Input Msg:\n//  lighthouse58/pier/outdoorlight/switch/set , Payload: true, false\n//  lighthouse58/pier/outdoorlight/dimmerlevel/set , Payload: 0-255\n//  lighthouse58/pier/outdoorlight/color/set , Payload: red, green, blue\n// Node Output Msg:\n//  TinkerForge\n//  Topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n//  Payload = {\"r\":red,\"g\":green,\"b\":blue};\n//  Pier\n//  lighthouse58/pier/outdoorlight/switch , Payload: true, false\n//  lighthouse58/pier/outdoorlight/dimmerlevel , Payload: 0-255\n//  lighthouse58/pier/outdoorlight/color , Payload: red, green, blue\n\n// Init the vars for the rgb led uid, dimmerlevel and color\n// Global context vars are used to store the data from the various node input topics\nvar pieroutdoorlightuid = \"zPN\";\nvar pieroutdoorlightswitchstate = global.get(\"pieroutdoorlightswitchstate\");\nvar pieroutdoorlightdimmerlevel = global.get(\"pieroutdoorlightdimmerlevel\");\nvar pieroutdoorlightcolor = global.get(\"pieroutdoorlightcolor\");\n\n// Select the Topic\n\n// Pier Outdoorlight Set Color\nif (msg.topic == \"lighthouse58/pier/outdoorlight/color/set\") {\n    pieroutdoorlightcolor = msg.payload;\n    // Store the updated value in a global context\n    global.set(\"pieroutdoorlightcolor\",pieroutdoorlightcolor);\n    // Update the msg with the new color\n    msg.topic = \"lighthouse58/pier/outdoorlight/color\";\n    node.send(msg);\n}\n\n// Pier Outdoorlight Switch ON / OFF\nif (msg.topic == \"lighthouse58/pier/outdoorlight/switch/set\") {\n    global.set(\"pieroutdoorlightswitchstate\", msg.payload);\n    if (msg.payload === true) {\n        // if true then light is on: set the dimmerlevel taken from the global context\n        pieroutdoorlightdimmerlevel = global.get(\"pieroutdoorlightdimmerlevel\")\n    } else {\n        // if false then light is off: set the dimmervalue to 0 which turns the rgbled off\n        pieroutdoorlightdimmerlevel = 0;        \n    }\n    // Update the switch state\n    msg.topic = \"lighthouse58/pier/outdoorlight/switch\"\n    node.send(msg);\n}\n\n// Pier Outdoorlight Set Dimmer Level\n// If value changed, set the switch to on\nif (msg.topic == \"lighthouse58/pier/outdoorlight/dimmerlevel/set\") {\n    pieroutdoorlightdimmerlevel = msg.payload;\n    // Update the dimmer level\n    msg.topic = \"lighthouse58/pier/outdoorlight/dimmerlevel\";\n    node.send(msg);\n    // Set the global context\n    global.set(\"pieroutdoorlightdimmerlevel\",pieroutdoorlightdimmerlevel)\n}\n\n// Set the tinkerforge topic and payload\n// Example to set a red color = RGB (255, 0, 0)\nvar r = 0;\nvar g = 0;\nvar b = 0;\n\nif (global.get(\"pieroutdoorlightswitchstate\") === true) {\n\nswitch(global.get(\"pieroutdoorlightcolor\")){\n    case \"red\": \n        r = pieroutdoorlightdimmerlevel;\n        break;\n    case \"green\": \n        g = pieroutdoorlightdimmerlevel;\n        break;\n    case \"blue\": \n        b = pieroutdoorlightdimmerlevel;\n        break;\n}\n}\n\n//Mosquitto Command:\n//mosquitto_pub -t tinkerforge/bricklet/rgb_led/zPN/rgb_value/set -m '{\\\"r\\\":255,\\\"g\\\":0,\\\"b\\\":0}'\n//Translated to JavaScript Message with Topic and Payload\nmsg.topic = \"tinkerforge/bricklet/rgb_led/\" + pieroutdoorlightuid + \"/rgb_value/set\";\nmsg.payload = {\"r\":r,\"g\":g,\"b\":b};\nnode.status({fill:\"green\",shape:\"dot\",text:\"Dimmer=\" + pieroutdoorlightdimmerlevel + \"/Color=\" + global.get(\"pieroutdoorlightcolor\")});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":160,"wires":[["7c475dab.452634"]]},{"id":"7c475dab.452634","type":"mqtt out","z":"833cb648.87212","name":"Publish Messages to TinkerForge","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1380,"y":160,"wires":[]},{"id":"c37fde35.ea34c","type":"ui_button","z":"6b378e15.b37fa","name":"","group":"46932d42.71dbc4","order":8,"width":0,"height":0,"label":"Weather Trend","color":"black","icon":"fa-line-chart","payload":"Weather","payloadType":"str","topic":"","x":120,"y":740,"wires":[["acde6a56.4d6b78"]]},{"id":"acde6a56.4d6b78","type":"ui_ui_control","z":"6b378e15.b37fa","name":"Set Weather Tab","x":550,"y":740,"wires":[[]]},{"id":"afe22132.7dd97","type":"comment","z":"6b378e15.b37fa","name":"Weather Trend","info":"","x":100,"y":700,"wires":[]},{"id":"7401d4cf.03f65c","type":"ui_template","z":"833cb648.87212","group":"3d8cec6d.14a93c","name":"Pier-Outdoorlight-Heading","order":1,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <p ng-style=\"{color: 'blue'}\">\n        Outdoor Light        \n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":760,"y":100,"wires":[[]]},{"id":"8834de98.40625","type":"ui_template","z":"994f187f.fdb19","group":"d31a7ae.66e3f08","name":"Lightkeepercottage-Roomlight-Heading","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{color: 'blue'}\">\n        Room Light        \n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":780,"y":80,"wires":[[]]},{"id":"47cb5119.021898","type":"ui_template","z":"a3332e83.df4e48","group":"b2de1edd.92efa8","name":"Boathouse-Roomlight-Heading","order":1,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <p ng-style=\"{color: 'blue'}\">\n       Room Light        \n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":730,"y":120,"wires":[[]]},{"id":"693a2929.9a68f8","type":"ui_template","z":"6b378e15.b37fa","group":"46932d42.71dbc4","name":"Lighthouse-Toplight-Heading","order":3,"width":0,"height":0,"format":"<!doctype html>\n<div align=\"left\" ng-style=\"{'color':'#0000ff', 'font-size':'16px'}\">\n    Top Light Flashing\n</div>\n<div>\n    <hr>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":150,"y":300,"wires":[[]]},{"id":"735bb0d.363055","type":"ui_template","z":"6b378e15.b37fa","group":"46932d42.71dbc4","name":"Lighthouse-HR-1","order":6,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <hr>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":110,"y":520,"wires":[[]]},{"id":"c8113ca2.8f871","type":"ui_slider","z":"833cb648.87212","name":"Pier-Outdoorlight-Dimmer","label":"Dimmer:","group":"3d8cec6d.14a93c","order":3,"width":"3","height":"1","passthru":false,"topic":"lighthouse58/pier/outdoorlight/dimmerlevel/set","min":0,"max":"255","x":750,"y":220,"wires":[["158fce0d.6bbf9a"]]},{"id":"12bf9d5f.fc1963","type":"ui_dropdown","z":"833cb648.87212","name":"Pier-Outdoorlight-Color","label":"Color:","group":"3d8cec6d.14a93c","order":4,"width":"2","height":"1","options":[{"label":"Red","value":"red"},{"label":"Green","value":"green"},{"label":"Blue","value":"blue"}],"payload":"","topic":"lighthouse58/pier/outdoorlight/color/set","x":750,"y":280,"wires":[["158fce0d.6bbf9a"]]},{"id":"691102a0.faea8c","type":"function","z":"833cb648.87212","name":"[Not Used]","func":"// Get the global configuration object\nvar obj = global.get(\"config\");\nobj.pier.outdoorlight.color = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[[]]},{"id":"61c1a72.04a86d8","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/outdoorlight/dimmerlevel","qos":"2","broker":"2ce03dcd.c24cc2","x":180,"y":220,"wires":[[]]},{"id":"e46dafa4.ce6568","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/outdoorlight/color","qos":"2","broker":"2ce03dcd.c24cc2","x":160,"y":280,"wires":[[]]},{"id":"94ea7f9e.79036","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/outdoorlight/switch","qos":"2","broker":"2ce03dcd.c24cc2","x":170,"y":160,"wires":[[]]},{"id":"214a0fb.485d3f","type":"json","z":"833cb648.87212","name":"","x":530,"y":340,"wires":[["254524ab.0f8914"]]},{"id":"271a5ec9.3a0f32","type":"comment","z":"6b378e15.b37fa","name":"Illuminance [Ambient Light Bricklet]","info":"","x":160,"y":580,"wires":[]},{"id":"b8e44307.501b28","type":"mqtt in","z":"6b378e15.b37fa","name":"","topic":"tinkerforge/bricklet/ambient_light/mdh/illuminance","qos":"2","broker":"2ce03dcd.c24cc2","x":210,"y":620,"wires":[["3548f889.f0b19"]]},{"id":"6f5b46b6.964cf","type":"function","z":"6b378e15.b37fa","name":"Set Illuminance","func":"// Get the ambientlight illuminance\n// Divide by 10 to get the Lux value\n// JSON conversion is required:\n// { \"illuminance\": 999, \"_timestamp\": 1473072933.127725 }\n// Switch the pier outdoorlight on if darkthreshold is reached\n\n// Get the illuminance from the payload and divide by 10\nvar illuminance = msg.payload.illuminance;\nilluminance = illuminance / 10;\n\n// Set the darkthreshold and the topic to switch the pier outdoorlight on\nvar darkthreshold = global.get(\"pieroutdoorlightdarknessswitchlevel\");\nvar msgpieroutdoorlight = {};\nmsgpieroutdoorlight.topic = \"lighthouse58/pier/outdoorlight/switch/set\";\nmsgpieroutdoorlight.payload = undefined;\n\n// Set the msg payload\nmsg.payload = illuminance;\n\n// Check the illuminance and switch outdoor light on\n// node.warn(global.get(\"pieroutdoorlightdarknessswitch\") + \"/\" + darkthreshold + \"/\" + illuminance);\nif (global.get(\"pieroutdoorlightdarknessswitch\") === true){\n    if (illuminance < darkthreshold){\n        // Switch the light on\n        msgpieroutdoorlight.payload = true;\n    }\n}\n\nreturn [msg, msgpieroutdoorlight];\n","outputs":"2","noerr":0,"x":1040,"y":620,"wires":[["7ed7d51c.80db64"],["fb93883f.44d158"]]},{"id":"392c69bc.caa5f6","type":"json","z":"6b378e15.b37fa","name":"Convert to Javascript Object","x":780,"y":620,"wires":[["6f5b46b6.964cf"]]},{"id":"7ed7d51c.80db64","type":"ui_text","z":"6b378e15.b37fa","group":"46932d42.71dbc4","order":7,"width":0,"height":0,"name":"","label":"Illuminance (Lux):","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":600,"wires":[]},{"id":"5a14904c.7b2808","type":"ui_switch","z":"a3332e83.df4e48","name":"Boathouse-Roomlight-Switch","label":"Switch:","group":"b2de1edd.92efa8","order":2,"width":0,"height":0,"passthru":false,"topic":"lighthouse58/boathouse/roomlight/switch/set","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":180,"wires":[["f697b3d4.3a9d28"]]},{"id":"f697b3d4.3a9d28","type":"function","z":"a3332e83.df4e48","name":"Build RGB LED Messages","func":"// TF Bricklet: RGBLED\n// Set the boathouse roomlight on / off, dimmerlevel and color by creating a TinkerForge Message\n// msg.topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n// msg.payload = {\"r\":red,\"g\":green,\"b\":blue};\n// Node Input Msg:\n//  lighthouse58/boathouse/roomlight/switch/set , Payload: true, false\n//  lighthouse58/boathouse/roomlight/dimmerlevel/set , Payload: 0-255\n//  lighthouse58/boathouse/roomlight/color/set , Payload: red, green, blue\n// Node Output Msg:\n//  TinkerForge\n//  Topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n//  Payload = {\"r\":red,\"g\":green,\"b\":blue};\n//  lighthouse58/boathouse/roomlight/switch , Payload: true, false\n//  lighthouse58/boathouse/roomlight/dimmerlevel , Payload: 0-255\n//  lighthouse58/boathouse/roomlight/color , Payload: red, green, blue\n\n// Init the vars for the rgb led uid, dimmerlevel and color\n// Global context vars are used to store the data from the various node input topics\nvar boathouseroomlightuid = \"zMT\";\nvar boathouseroomlightswitchstate = global.get(\"boathouseroomlightswitchstate\");\nvar boathouseroomlightdimmerlevel = global.get(\"boathouseroomlightdimmerlevel\");\nvar boathouseroomlightcolor = global.get(\"boathouseroomlightcolor\");\n\n// Select the Topic\n\n// Light Set Color\nif (msg.topic == \"lighthouse58/boathouse/roomlight/color/set\") {\n    boathouseroomlightcolor = msg.payload;\n    // Store the updated value in a global context\n    global.set(\"boathouseroomlightcolor\",boathouseroomlightcolor);\n    // Update the msg with the new color\n    msg.topic = \"lighthouse58/boathouse/roomlight/color\";\n    node.send(msg);\n}\n\n// Light Switch ON / OFF\nif (msg.topic == \"lighthouse58/boathouse/roomlight/switch/set\") {\n    global.set(\"boathouseroomlightswitchstate\", msg.payload);\n    if (msg.payload === true) {\n        // if true then light is on: set the dimmerlevel taken from the global context\n        boathouseroomlightdimmerlevel = global.get(\"boathouseroomlightdimmerlevel\")\n    } else {\n        // if false then light is off: set the dimmervalue to 0 which turns the rgbled off\n        boathouseroomlightdimmerlevel = 0;        \n    }\n    // Update the switch state\n    msg.topic = \"lighthouse58/boathouse/roomlight/switch\"\n    node.send(msg);\n}\n\n// Light Set Dimmer Level\n// If value changed, set the switch to on\nif (msg.topic == \"lighthouse58/boathouse/roomlight/dimmerlevel/set\") {\n    boathouseroomlightdimmerlevel = msg.payload;\n    // Update the dimmer level\n    msg.topic = \"lighthouse58/boathouse/roomlight/dimmerlevel\";\n    node.send(msg);\n    // Set the global context\n    global.set(\"boathouseroomlightdimmerlevel\",boathouseroomlightdimmerlevel)\n}\n\n// Set the tinkerforge topic and payload\n// Example to set a red color = RGB (255, 0, 0)\nvar r = 0;\nvar g = 0;\nvar b = 0;\n\nif (global.get(\"boathouseroomlightswitchstate\") === true) {\n\nswitch(global.get(\"boathouseroomlightcolor\")){\n    case \"red\": \n        r = boathouseroomlightdimmerlevel;\n        break;\n    case \"green\": \n        g = boathouseroomlightdimmerlevel;\n        break;\n    case \"blue\": \n        b = boathouseroomlightdimmerlevel;\n        break;\n}\n}\n\n//Mosquitto Command:\n//mosquitto_pub -t tinkerforge/bricklet/rgb_led/zPN/rgb_value/set -m '{\\\"r\\\":255,\\\"g\\\":0,\\\"b\\\":0}'\n//Translated to JavaScript Message with Topic and Payload\nmsg.topic = \"tinkerforge/bricklet/rgb_led/\" + boathouseroomlightuid + \"/rgb_value/set\";\nmsg.payload = {\"r\":r,\"g\":g,\"b\":b};\nnode.status({fill:\"green\",shape:\"dot\",text:\"Dimmer=\" + boathouseroomlightdimmerlevel + \"/Color=\" + global.get(\"boathouseroomlightcolor\")});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":180,"wires":[["8a896e13.3662b"]]},{"id":"8a896e13.3662b","type":"mqtt out","z":"a3332e83.df4e48","name":"Publish Messages to TinkerForge","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1360,"y":180,"wires":[]},{"id":"bc27a31d.ba46","type":"ui_slider","z":"a3332e83.df4e48","name":"Boathouse-Roomlight-Dimmer","label":"Dimmer:","group":"b2de1edd.92efa8","order":3,"width":"3","height":"1","passthru":false,"topic":"lighthouse58/boathouse/roomlight/dimmerlevel/set","min":0,"max":"255","x":730,"y":240,"wires":[["f697b3d4.3a9d28"]]},{"id":"38695af1.830b8e","type":"ui_dropdown","z":"a3332e83.df4e48","name":"Boathouse-Roomlight-Color","label":"Color:","group":"b2de1edd.92efa8","order":4,"width":"2","height":"1","options":[{"label":"Red","value":"red"},{"label":"Green","value":"green"},{"label":"Blue","value":"blue"}],"payload":"","topic":"lighthouse58/boathouse/roomlight/color/set","x":720,"y":300,"wires":[["f697b3d4.3a9d28"]]},{"id":"61308192.c1f97","type":"mqtt in","z":"a3332e83.df4e48","name":"","topic":"lighthouse58/boathouse/roomlight/dimmerlevel","qos":"2","broker":"2ce03dcd.c24cc2","x":200,"y":240,"wires":[[]]},{"id":"b94d1a5f.ece108","type":"mqtt in","z":"a3332e83.df4e48","name":"","topic":"lighthouse58/boathouse/roomlight/color","qos":"2","broker":"2ce03dcd.c24cc2","x":170,"y":300,"wires":[[]]},{"id":"22b41784.23b02","type":"mqtt in","z":"a3332e83.df4e48","name":"","topic":"lighthouse58/boathouse/roomlight/switch","qos":"2","broker":"2ce03dcd.c24cc2","x":180,"y":180,"wires":[[]]},{"id":"f92ae25a.5b05a","type":"json","z":"a3332e83.df4e48","name":"","x":490,"y":180,"wires":[["5a14904c.7b2808"]]},{"id":"2644e58d.6cfa32","type":"comment","z":"833cb648.87212","name":"Light Control [RGB LED Bricklet]","info":"","x":150,"y":60,"wires":[]},{"id":"7c083fa3.be6dc8","type":"comment","z":"994f187f.fdb19","name":"Light Control [RGB LED Bricklet]","info":"","x":150,"y":60,"wires":[]},{"id":"1cc4e49b.29723b","type":"ui_switch","z":"994f187f.fdb19","name":"Lightkeepercottage-Roomlight-Switch","label":"Switch:","group":"d31a7ae.66e3f08","order":2,"width":0,"height":0,"passthru":false,"topic":"lighthouse58/lightkeepercottage/roomlight/switch/set","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":140,"wires":[["932981ec.28bb18"]]},{"id":"932981ec.28bb18","type":"function","z":"994f187f.fdb19","name":"Build RGB LED Messages","func":"// TF Bricklet: RGBLED\n// Set the lightkeepercottage roomlight on / off, dimmerlevel and color by creating a TinkerForge Message\n// msg.topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n// msg.payload = {\"r\":red,\"g\":green,\"b\":blue};\n// Node Input Msg:\n//  lighthouse58/lightkeepercottage/roomlight/switch/set , Payload: true, false\n//  lighthouse58/lightkeepercottage/roomlight/dimmerlevel/set , Payload: 0-255\n//  lighthouse58/lightkeepercottage/roomlight/color/set , Payload: red, green, blue\n// Node Output Msg:\n//  TinkerForge\n//  Topic = \"tinkerforge/bricklet/rgb_led/UID/rgb_value/set\"\n//  Payload = {\"r\":red,\"g\":green,\"b\":blue};\n//  lighthouse58/lightkeepercottage/roomlight/switch , Payload: true, false\n//  lighthouse58/lightkeepercottage/roomlight/dimmerlevel , Payload: 0-255\n//  lighthouse58/lightkeepercottage/roomlight/color , Payload: red, green, blue\n\n// Init the vars for the rgb led uid, dimmerlevel and color\n// Global context vars are used to store the data from the various node input topics\nvar lightkeepercottageroomlightuid = \"zNx\";\nvar lightkeepercottageroomlightswitchstate = global.get(\"lightkeepercottageroomlightswitchstate\");\nvar lightkeepercottageroomlightdimmerlevel = global.get(\"lightkeepercottageroomlightdimmerlevel\");\nvar lightkeepercottageroomlightcolor = global.get(\"lightkeepercottageroomlightcolor\");\n\n// Select the Topic\n\n// Light Set Color\nif (msg.topic == \"lighthouse58/lightkeepercottage/roomlight/color/set\") {\n    lightkeepercottageroomlightcolor = msg.payload;\n    // Store the updated value in a global context\n    global.set(\"lightkeepercottageroomlightcolor\",lightkeepercottageroomlightcolor);\n    // Update the msg with the new color\n    msg.topic = \"lighthouse58/lightkeepercottage/roomlight/color\";\n    node.send(msg);\n}\n\n// Light Switch ON / OFF\nif (msg.topic == \"lighthouse58/lightkeepercottage/roomlight/switch/set\") {\n    global.set(\"lightkeepercottageroomlightswitchstate\", msg.payload);\n    if (msg.payload === true) {\n        // if true then light is on: set the dimmerlevel taken from the global context\n        lightkeepercottageroomlightdimmerlevel = global.get(\"lightkeepercottageroomlightdimmerlevel\")\n    } else {\n        // if false then light is off: set the dimmervalue to 0 which turns the rgbled off\n        lightkeepercottageroomlightdimmerlevel = 0;        \n    }\n    // Update the switch state\n    msg.topic = \"lighthouse58/lightkeepercottage/roomlight/switch\"\n    node.send(msg);\n}\n\n// Light Set Dimmer Level\n// If value changed, set the switch to on\nif (msg.topic == \"lighthouse58/lightkeepercottage/roomlight/dimmerlevel/set\") {\n    lightkeepercottageroomlightdimmerlevel = msg.payload;\n    // Update the dimmer level\n    msg.topic = \"lighthouse58/lightkeepercottage/roomlight/dimmerlevel\";\n    node.send(msg);\n    // Set the global context\n    global.set(\"lightkeepercottageroomlightdimmerlevel\",lightkeepercottageroomlightdimmerlevel)\n}\n\n// Set the tinkerforge topic and payload\n// Example to set a red color = RGB (255, 0, 0)\nvar r = 0;\nvar g = 0;\nvar b = 0;\n\nif (global.get(\"lightkeepercottageroomlightswitchstate\") === true) {\n\nswitch(global.get(\"lightkeepercottageroomlightcolor\")){\n    case \"red\": \n        r = lightkeepercottageroomlightdimmerlevel;\n        break;\n    case \"green\": \n        g = lightkeepercottageroomlightdimmerlevel;\n        break;\n    case \"blue\": \n        b = lightkeepercottageroomlightdimmerlevel;\n        break;\n}\n}\n\n//Mosquitto Command:\n//mosquitto_pub -t tinkerforge/bricklet/rgb_led/zPN/rgb_value/set -m '{\\\"r\\\":255,\\\"g\\\":0,\\\"b\\\":0}'\n//Translated to JavaScript Message with Topic and Payload\nmsg.topic = \"tinkerforge/bricklet/rgb_led/\" + lightkeepercottageroomlightuid + \"/rgb_value/set\";\nmsg.payload = {\"r\":r,\"g\":g,\"b\":b};\nnode.status({fill:\"green\",shape:\"dot\",text:\"Dimmer=\" + lightkeepercottageroomlightdimmerlevel + \"/Color=\" + global.get(\"lightkeepercottageroomlightcolor\")});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":140,"wires":[["c18e9493.0179c"]]},{"id":"c18e9493.0179c","type":"mqtt out","z":"994f187f.fdb19","name":"Publish Messages to TinkerForge","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1440,"y":140,"wires":[]},{"id":"b4cd5ce0.9cf148","type":"ui_slider","z":"994f187f.fdb19","name":"Lightkeepercottage-Roomlight-Dimmer","label":"Dimmer:","group":"d31a7ae.66e3f08","order":3,"width":"3","height":"1","passthru":false,"topic":"lighthouse58/lightkeepercottage/roomlight/dimmerlevel/set","min":0,"max":"255","x":780,"y":200,"wires":[["932981ec.28bb18"]]},{"id":"3e4ad41d.dc6b34","type":"ui_dropdown","z":"994f187f.fdb19","name":"Lightkeepercottage-Roomlight-Color","label":"Color:","group":"d31a7ae.66e3f08","order":4,"width":"2","height":"1","options":[{"label":"Red","value":"red"},{"label":"Green","value":"green"},{"label":"Blue","value":"blue"}],"payload":"","topic":"lighthouse58/lightkeepercottage/roomlight/color/set","x":770,"y":260,"wires":[["932981ec.28bb18"]]},{"id":"1c21ad64.da05fb","type":"mqtt in","z":"994f187f.fdb19","name":"","topic":"lighthouse58/lightkeepercottage/roomlight/dimmerlevel","qos":"2","broker":"2ce03dcd.c24cc2","x":220,"y":200,"wires":[[]]},{"id":"db5df684.e0008","type":"mqtt in","z":"994f187f.fdb19","name":"","topic":"lighthouse58/lightkeepercottage/roomlight/color","qos":"2","broker":"2ce03dcd.c24cc2","x":200,"y":260,"wires":[[]]},{"id":"8deadcce.3801c8","type":"mqtt in","z":"994f187f.fdb19","name":"","topic":"lighthouse58/lightkeepercottage/roomlight/switch","qos":"2","broker":"2ce03dcd.c24cc2","x":200,"y":140,"wires":[[]]},{"id":"3677ab0f.81478c","type":"json","z":"994f187f.fdb19","name":"","x":510,"y":140,"wires":[["1cc4e49b.29723b"]]},{"id":"64437727.e7053","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/motion/start","qos":"2","broker":"2ce03dcd.c24cc2","x":140,"y":560,"wires":[["fd9d82a0.8ce558"]]},{"id":"2b1fde00.4d7aaa","type":"mqtt out","z":"833cb648.87212","name":"Publish Message Motion Detected Start or Stop","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1420,"y":480,"wires":[]},{"id":"4b9f2f26.ff6b08","type":"function","z":"833cb648.87212","name":"Action Motion Detector","func":"// Get the timestamp from the tinkerforge payload:\n// \nvar date = new Date(msg.payload._timestamp * 1000);\nvar aTime = date.toLocaleTimeString();\n\n// Set start or stop topic depending motion detected\nswitch (msg.payload.motion){\n    case 0:\n        msg.topic = \"lighthouse58/pier/motion/stop\";\n        break;\n    case 1:\n        msg.topic = \"lighthouse58/pier/motion/start\";\n        // Reset the stoptime\n        var msgstop = {};\n        msgstop.topic = \"lighthouse58/pier/motion/stop\";\n        msgstop.payload = \"open\";\n        node.send(msgstop);\n        break;\n}\n\n// Set the time\nmsg.payload = aTime;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1070,"y":480,"wires":[["2b1fde00.4d7aaa"]]},{"id":"1dfaa895.651dff","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/motion/stop","qos":"2","broker":"2ce03dcd.c24cc2","x":140,"y":620,"wires":[["92eef636.8f92e"]]},{"id":"fd9d82a0.8ce558","type":"ui_text","z":"833cb648.87212","group":"3d8cec6d.14a93c","order":6,"width":0,"height":0,"name":"Pier-Motion-Detected-Start-Time","label":"Detection started","format":"<font color=\"red\">{{msg.payload}}</font>","layout":"row-spread","x":780,"y":560,"wires":[]},{"id":"92eef636.8f92e","type":"ui_text","z":"833cb648.87212","group":"3d8cec6d.14a93c","order":7,"width":0,"height":0,"name":"Pier-Motion-Detected-Stop-Time","label":"Detection ended","format":"<font color=\"green\">{{msg.payload}}</font>","layout":"row-spread","x":780,"y":620,"wires":[]},{"id":"c31efc72.7786b","type":"ui_template","z":"833cb648.87212","group":"3d8cec6d.14a93c","name":"Pier-Motion-Detector-Heading","order":5,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <hr>\n    <p ng-style=\"{color: 'black'}\">\n        Motion Detector        \n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":770,"y":520,"wires":[[]]},{"id":"c0e4685.31c4418","type":"inject","z":"1721f7a9.1ec16","name":"Initiate Shutdown","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["b87719d.89a0868"]]},{"id":"b87719d.89a0868","type":"exec","z":"1721f7a9.1ec16","command":"sudo shutdown -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Execute Shutdown Command","x":490,"y":160,"wires":[[],["c30ff52e.624a1","f3b0e937.aec4a"],[]]},{"id":"c30ff52e.624a1","type":"debug","z":"1721f7a9.1ec16","name":"Log Shutdown","active":true,"console":"false","complete":"true","x":1140,"y":160,"wires":[]},{"id":"6875be95.e5aea","type":"comment","z":"1721f7a9.1ec16","name":"Shutdown Control Unit","info":"Shutdown the Raspberry Pi in 1 minute from now\n\nExecutes the command:\nsudo shutdown -h\n\nIf shutdown should be immediate, execute the command:\nsudo shutdown -h 0\n\nShutdown Triggers\n* From flow using Inject Node\n* From dashboard using ui_button\n* From Control Unit via micro-switch connected to RPi Pin 12 (GPIO18)\n* ","x":120,"y":60,"wires":[]},{"id":"3bc50b43.3f934c","type":"ui_button","z":"1721f7a9.1ec16","name":"Initiate Shutdown","group":"1ec601ff.24e646","order":0,"width":0,"height":0,"label":"Start","color":"red","icon":"fa-bullseye","payload":"shutdown","payloadType":"str","topic":"","x":130,"y":160,"wires":[["b87719d.89a0868"]]},{"id":"f3b0e937.aec4a","type":"ui_template","z":"1721f7a9.1ec16","group":"1ec601ff.24e646","name":"Set Message Style","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p ng-style=\"{'color':'red', 'font-size':'0.8em'}\">\n        {{msg.payload}}\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":1150,"y":260,"wires":[[]]},{"id":"a52f3544.bc306","type":"inject","z":"1721f7a9.1ec16","name":"Set Initial Shutdown Message","topic":"","payload":"Press Start to Shutdown in 1 minute from now.","payloadType":"str","repeat":"","crontab":"","once":true,"x":160,"y":300,"wires":[["f3b0e937.aec4a"]]},{"id":"635656bf.b6367","type":"comment","z":"1721f7a9.1ec16","name":"Control Unit Temperature","info":"Get the Raspberry Pi CPU Temperature\nEnsure to divide the result by 1000\n\nExecutes the command:\ncat /sys/class/thermal/thermal_zone0/temp > /home/pi/lighthouse58/rpicputemp.inf\n","x":130,"y":380,"wires":[]},{"id":"47fe557c.aa50b4","type":"inject","z":"1721f7a9.1ec16","name":"Get CPU Temperature","topic":"lighthouse58/information/cputemperature","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":150,"y":420,"wires":[["5f67f36.15fd48c"]]},{"id":"5f67f36.15fd48c","type":"exec","z":"1721f7a9.1ec16","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"Execute Get Temperature Command","x":510,"y":420,"wires":[["d9be5218.2d5e68"],[],[]]},{"id":"d9be5218.2d5e68","type":"function","z":"1721f7a9.1ec16","name":"Build CPU Temperature Message","func":"// Check if the CPU Temperature is above threshold of 40 C\n\n// Get the measured temperature and convert to celcius with no decimals\nvar cputemp = msg.payload / 1000;\nmsg.payload = cputemp.toFixed(0);\n\nreturn msg;\n","outputs":"1","noerr":0,"x":860,"y":420,"wires":[["a1111e82.6b6188"]]},{"id":"a1111e82.6b6188","type":"mqtt out","z":"1721f7a9.1ec16","name":"Publish CPU Temperature Message","topic":"lighthouse58/information/cputemperature","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1210,"y":420,"wires":[]},{"id":"8fd89dee.7c9588","type":"inject","z":"1721f7a9.1ec16","name":"Get Disc Space Used","topic":"lighthouse58/information/discspaceused","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":150,"y":520,"wires":[["5c775688.dd86a8"]]},{"id":"5c775688.dd86a8","type":"exec","z":"1721f7a9.1ec16","command":"df -H | grep 'root' | awk '{ print $5 }'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Execute Get Disc Space Used Command","x":520,"y":520,"wires":[["94ce00fd.4485"],[],[]]},{"id":"94ce00fd.4485","type":"function","z":"1721f7a9.1ec16","name":"Build Disc Space Used Message","func":"// Check if the Disc Space is above threshold of 80%\n\n// Get the measured discspace and convert to value with no decimal\nvar discspaces = msg.payload;\nvar discspace = parseInt(discspaces.replace(\"%\",\"\"));\nmsg.payload = discspace.toFixed(0);\n\nreturn msg;\n","outputs":"1","noerr":0,"x":860,"y":520,"wires":[["e940e4c8.86878"]]},{"id":"e940e4c8.86878","type":"mqtt out","z":"1721f7a9.1ec16","name":"Publish Disc Space Used Message","topic":"lighthouse58/information/discspaceused","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1210,"y":520,"wires":[]},{"id":"c4198256.073bd","type":"comment","z":"1721f7a9.1ec16","name":"Control Unit Disc Space Used","info":"Get the Raspberry Pi Free Discspace\n\nExecutes the command:\ncat /sys/class/thermal/thermal_zone0/temp > /home/pi/lighthouse58/rpicputemp.inf\n","x":140,"y":480,"wires":[]},{"id":"6d714c95.172c44","type":"inject","z":"1721f7a9.1ec16","name":"Get Memory Used","topic":"lighthouse58/information/memoryused","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":140,"y":620,"wires":[["a0e31d1b.047b"]]},{"id":"a0e31d1b.047b","type":"exec","z":"1721f7a9.1ec16","command":"free -o -h | head -n2 | tail -n1 | awk '{print $3}' | tr -d [=M=]","addpay":false,"append":"","useSpawn":"","timer":"","name":"Execute Get Memory Used Command","x":510,"y":620,"wires":[["e73bfe7c.431198"],[],[]]},{"id":"e73bfe7c.431198","type":"function","z":"1721f7a9.1ec16","name":"Build Memory Used Message","func":"// Get the measured memory used and convert to value with no decimal\nvar memused = parseInt(msg.payload).toFixed(0);\n// Get the memory total from global context\nvar memtotal = global.get(\"memorytotal\");\n\n// Calculate the memory used in pct\nvar memusedpct = 0;\nif (memtotal !== undefined) {\n    memusedpct = memused / memtotal;\n    memusedpct = memusedpct.toFixed(2) * 100;\n}\nmsg.payload = memusedpct\nreturn msg;\n","outputs":"1","noerr":0,"x":850,"y":620,"wires":[["a9832901.13abb8"]]},{"id":"a9832901.13abb8","type":"mqtt out","z":"1721f7a9.1ec16","name":"Publish Memory Used Message","topic":"lighthouse58/information/memoryused","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1190,"y":620,"wires":[]},{"id":"cc0d7102.7f4fc8","type":"comment","z":"1721f7a9.1ec16","name":"Control Unit Memory Used","info":"Get the Raspberry Pi Memory Used\n\nExecutes the command:\n#Get RAM used\nfree -o -h | head -n2 | tail -n1 | awk '{print $3}' | tr -d [=M=] > rpimemused.inf\n\nThese are also options\n#Get RAM free\nfree -o -h | head -n2 | tail -n1 | awk '{print $4}' | tr -d [=M=] > rpimemfree.inf\n#Get RAM total\nfree -o -h | head -n2 | tail -n1 | awk '{print $2}' | tr -d [=M=] > rpimemfree.inf\n","x":130,"y":580,"wires":[]},{"id":"575bfa34.d95504","type":"inject","z":"1721f7a9.1ec16","name":"Get Memory Total","topic":"lighthouse58/information/memorytotal","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":680,"wires":[["66b53a3a.1d3fec"]]},{"id":"66b53a3a.1d3fec","type":"exec","z":"1721f7a9.1ec16","command":"free -o -h | head -n2 | tail -n1 | awk '{print $2}' | tr -d [=M=]","addpay":false,"append":"","useSpawn":"","timer":"","name":"Execute Get Memory Total Command","x":510,"y":680,"wires":[["36c3ab5b.69c27c"],[],[]]},{"id":"36c3ab5b.69c27c","type":"function","z":"1721f7a9.1ec16","name":"Set Memory Total Global","func":"// Set the global context\nglobal.set(\"memorytotal\", msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:global.get(\"memorytotal\")});\n\nreturn msg;\n","outputs":"1","noerr":0,"x":830,"y":680,"wires":[["1821099c.3687ae"]]},{"id":"1821099c.3687ae","type":"mqtt out","z":"1721f7a9.1ec16","name":"Publish Memory Total Message","topic":"lighthouse58/information/memorytotal","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1190,"y":680,"wires":[]},{"id":"75055ebe.e7aa2","type":"mqtt in","z":"1721f7a9.1ec16","name":"","topic":"lighthouse58/information/discspaceused","qos":"2","broker":"2ce03dcd.c24cc2","x":180,"y":860,"wires":[["dab3be61.6319d","6b2ca612.c4d088"]]},{"id":"13d28083.e5e317","type":"mqtt in","z":"1721f7a9.1ec16","name":"","topic":"lighthouse58/information/cputemperature","qos":"2","broker":"2ce03dcd.c24cc2","x":180,"y":820,"wires":[["b94b974e.50442","6b2ca612.c4d088"]]},{"id":"fbbdaddd.8be508","type":"mqtt in","z":"1721f7a9.1ec16","name":"","topic":"lighthouse58/information/memoryused","qos":"2","broker":"2ce03dcd.c24cc2","x":170,"y":900,"wires":[["86cac2df.2649a8","6b2ca612.c4d088"]]},{"id":"b94b974e.50442","type":"function","z":"1721f7a9.1ec16","name":"Set Topic","func":"// Set the topic to be used as legend in the chart\nvar msgt = {}\nmsgt.topic = \"CPU °C\";\nmsgt.payload = msg.payload;\nreturn msgt;\n","outputs":"1","noerr":0,"x":780,"y":820,"wires":[["830a55df.89e67","e19d5aec.9727a"]]},{"id":"dab3be61.6319d","type":"function","z":"1721f7a9.1ec16","name":"Set Topic","func":"// Set the topic to be used as legend in the chart\nmsg.topic = \"Disc %\";\nreturn msg;\n","outputs":"1","noerr":0,"x":780,"y":860,"wires":[["830a55df.89e67","cf839344.8a655"]]},{"id":"86cac2df.2649a8","type":"function","z":"1721f7a9.1ec16","name":"Set Topic","func":"// Set the topic to be used as legend in the chart\nmsg.topic = \"Mem %\";\nreturn msg;\n","outputs":"1","noerr":0,"x":780,"y":900,"wires":[["830a55df.89e67","86c27a7e.2f2088"]]},{"id":"830a55df.89e67","type":"ui_chart","z":"1721f7a9.1ec16","name":"Control Unit Status Chart","group":"a77e398c.89c398","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"basis","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderUnit":"86400","x":1170,"y":780,"wires":[[],[]]},{"id":"e19d5aec.9727a","type":"ui_template","z":"1721f7a9.1ec16","group":"a77e398c.89c398","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>{{msg.topic}}</p>\n    <p ng-style=\"{color: msg.payload <= 40 ? 'green' : 'red'}\">\n        {{msg.payload}} = {{msg.payload <= 40 ? 'OK' : 'HIGH'}}\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":1120,"y":820,"wires":[[]]},{"id":"6bcbda3e.c15c2c","type":"comment","z":"1721f7a9.1ec16","name":"Control Unit Check","info":"Show in a chart the trends for 1 day for:\nCPU Temperature\nDisk Space Used\nMemory used\n\nBelow the trend chart show the actual values and if OK or HIGH.\n","x":110,"y":740,"wires":[]},{"id":"cf839344.8a655","type":"ui_template","z":"1721f7a9.1ec16","group":"a77e398c.89c398","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>{{msg.topic}}</p>\n    <p ng-style=\"{color: msg.payload <= 90 ? 'green' : 'red'}\">\n        {{msg.payload}} = {{msg.payload <= 90 ? 'OK' : 'HIGH'}}\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":1120,"y":860,"wires":[[]]},{"id":"86c27a7e.2f2088","type":"ui_template","z":"1721f7a9.1ec16","group":"a77e398c.89c398","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>{{msg.topic}}</p>\n    <p ng-style=\"{color: msg.payload <= 90 ? 'green' : 'red'}\">\n        {{msg.payload}} = {{msg.payload <= 90 ? 'OK' : 'HIGH'}}\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":1120,"y":900,"wires":[[]]},{"id":"26843418.75d164","type":"mqtt in","z":"1721f7a9.1ec16","name":"","topic":"tinkerforge/bricklet/io4/gVf/configuration","qos":"2","broker":"2f91e3b6.c3990c","x":180,"y":1160,"wires":[["b25811f7.78938"]]},{"id":"e546cf69.bf7198","type":"ui_text","z":"1721f7a9.1ec16","group":"a77e398c.89c398","order":0,"width":0,"height":0,"name":"LED Indicator States","label":"<font size=\"0.9em\" color=\"blue\">Indicators</font>","format":"<font size=\"0.9em\" color=\"blue\">{{msg.payload}}</font>","layout":"row-spread","x":1160,"y":1160,"wires":[]},{"id":"c25c7549.0f1eb","type":"function","z":"1721f7a9.1ec16","name":"Build TinkerForge Message","func":"//Get the LED state from the payload property \"value_mask\".\n//This is a decimal representing 4 bits 0000 to 1111. The pins are 3210.\n\n//Get the pin state as bin mask 0000 to 1111\nvar pinstatemask = (msg.payload.value_mask >>> 0).toString(2);\n\n//The LED is connected to pin 0.\n//Get the state of pin0 which is most right bit and convert to int.\nvar pin0 = parseInt(pinstatemask.substring(3, 4)); \nvar pin1 = parseInt(pinstatemask.substring(2, 3)); \n\n//Set the text message ON or OFF and return\nvar pin0state = (pin0 === 0) ? \"OFF\" : \"ON\";\nvar pin1state = (pin1 === 0) ? \"OFF\" : \"ON\";\nmsg.payload = \"Red:\" + pin0state + \", Green:\" + pin1state;\nnode.status({fill:\"green\",shape:\"dot\",text:\"LED state \" + msg.payload});\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":1160,"wires":[["e546cf69.bf7198"]]},{"id":"b25811f7.78938","type":"json","z":"1721f7a9.1ec16","name":"","x":450,"y":1160,"wires":[["c25c7549.0f1eb"]]},{"id":"1719dfb1.42a7f8","type":"comment","z":"1721f7a9.1ec16","name":"Get the LED state","info":"Get the LED state by subscribing to topic:\nmosquitto_sub -v -t tinkerforge/bricklet/io4/gVf/configuration\n\nConvert the property value_mask to text ON or OFF\n","x":110,"y":1120,"wires":[]},{"id":"98f779cc.18345","type":"inject","z":"1721f7a9.1ec16","name":"LED ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":1420,"wires":[["e648c422.f9119"]]},{"id":"d7cc2e5f.40eed","type":"inject","z":"1721f7a9.1ec16","name":"LED OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":1460,"wires":[["e648c422.f9119"]]},{"id":"e648c422.f9119","type":"function","z":"1721f7a9.1ec16","name":"Build TinkerForge Messages","func":"var msgdir = {};\nmsgdir.topic = \"tinkerforge/bricklet/io4/gVf/configuration/set\";\nmsgdir.payload = {\"selection_mask\":3, \"direction\":\"o\", \"value\":false};\nnode.send(msgdir);\n\nvar msgval = {};\nmsgval.topic = \"tinkerforge/bricklet/io4/gVf/value/set\";\nmsgval.payload = {\"value_mask\":0};\nif (msg.payload === true){\n    msgval.payload = {\"value_mask\":3};\n}\nnode.send(msgval);\nnode.status({fill:\"green\",shape:\"dot\",text:\"LED set to \" + msg.payload});\nreturn;\n","outputs":1,"noerr":0,"x":840,"y":1420,"wires":[["de2075e5.105e9"]]},{"id":"de2075e5.105e9","type":"mqtt out","z":"1721f7a9.1ec16","name":"Switch IO-4 LED","topic":"","qos":"","retain":"","broker":"2f91e3b6.c3990c","x":1150,"y":1420,"wires":[]},{"id":"a8113a83.37e69","type":"comment","z":"1721f7a9.1ec16","name":"Switch the Control LEDs [IO-4 Bricklet]","info":"Switch an LED on / off which is connected to port A pin 0.\nThe pin state is set to high or low means LED is On or Off.\n\n#Inject Nodes\nTwo \"Inject Nodes\" are used, one with payload true, the other false.\nThe payload is send to a \"Function Node2.\n\n#Function Node\nBuilds the MQTT payload as defined by TinkerForge.\n{payload:{\"port\":\"a\", \"selection_mask\":1, \"direction\":\"o\", \"value\":msg.payload}};\nThe msg.payload is true or false as given by the \"Inject Nodes\".\nThe payload is send to the \"MQTT Out Node\".\nNote that the topic is not send as these is set in the MQTT Out Node\".\n\n#MQTT Out Node\nSets the server to localhost:1883 and the topic to\ntinkerforge/bricklet/io4/gVf/port_configuration/set\nThe IO-16 Bricklet uid is gVf.\n","x":170,"y":960,"wires":[]},{"id":"622a4da0.8ffdbc","type":"rpi-gpio in","z":"1721f7a9.1ec16","name":"Shutdown GPIO Pin 12","pin":"12","intype":"up","debounce":"25","read":false,"x":140,"y":200,"wires":[["b87719d.89a0868"]]},{"id":"c89a2b3f.a746b8","type":"ui_button","z":"1721f7a9.1ec16","name":"","group":"1ec601ff.24e646","order":0,"width":0,"height":0,"label":"Reset Message after cancel Shutdown","color":"blue","icon":"","payload":"Press Start to Shutdown in 1 minute from now.","payloadType":"str","topic":"","x":200,"y":260,"wires":[["f3b0e937.aec4a"]]},{"id":"6b2ca612.c4d088","type":"function","z":"1721f7a9.1ec16","name":"Build TinkerForge Message","func":"// Set the initial led state\n// led red connected to IO-4 port 0\nvar ledred = false;\n// led green connected to IO-4 port 1\nvar ledgreen = true;\n// Init the value mask to 2 means green led turned on 0010\nvar valuemask = 2;\n// Define & send the initial message for the leds\nvar msgio4 = {};\nmsgio4.topic = \"tinkerforge/bricklet/io4/gVf/value/set\";\nmsgio4.payload = { \"value_mask\":valuemask };\nnode.send(msgio4);\n// To turn led red on and green off, the value mask is 1 = 0001\n\n// Check the topics\nswitch (msg.topic){\n    case \"lighthouse58/information/cputemperature\":\n        if (msg.payload > 40) {\n            ledred = true;\n            ledgreen = false;\n            valuemask = 1;\n            msgio4.payload = { \"value_mask\":valuemask };\n            node.send(msgio4);\n        }\n        break;\n    case \"lighthouse58/information/discspaceuse\":\n        if (msg.payload > 90) {\n            ledred = true;\n            ledgreen = false;\n            valuemask = 1;\n            msgio4.payload = { \"value_mask\":valuemask };\n            node.send(msgio4);\n        }\n        break;\n    case \"lighthouse58/information/memoryused\":\n        if (msg.payload > 90) {\n            ledred = true;\n            ledgreen = false;\n            valuemask = 1;\n            msgio4.payload = { \"value_mask\":valuemask };\n            node.send(msgio4);\n        }\n        break;\n}\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"LEDs set to \" + msgio4.payload.value_mask});\n\nreturn;\n","outputs":1,"noerr":0,"x":840,"y":1000,"wires":[["848688a0.7296"]]},{"id":"848688a0.7296","type":"mqtt out","z":"1721f7a9.1ec16","name":"Switch IO-4 Pin State","topic":"","qos":"","retain":"","broker":"2f91e3b6.c3990c","x":1160,"y":1000,"wires":[]},{"id":"fcde0cfd.7f4a18","type":"inject","z":"1721f7a9.1ec16","name":"Set IO-4 pins to direction output","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":1060,"wires":[["e048c7c7.d95a08"]]},{"id":"e048c7c7.d95a08","type":"function","z":"1721f7a9.1ec16","name":"Build TinkerForge Message","func":"// Set the IO-4 porst 0 and 1 to output with value low (=false)\nvar msgio4 = {};\nmsgio4.topic = \"tinkerforge/bricklet/io4/gVf/configuration/set\";\nmsgio4.payload = {\"selection_mask\":3, \"direction\":\"o\", \"value\":false} ;\n\nreturn msgio4;\n","outputs":1,"noerr":0,"x":840,"y":1060,"wires":[["aa2fb7f7.098f2"]]},{"id":"aa2fb7f7.098f2","type":"mqtt out","z":"1721f7a9.1ec16","name":"Publish IO-4 pin state to Output","topic":"","qos":"","retain":"","broker":"2f91e3b6.c3990c","x":1190,"y":1060,"wires":[]},{"id":"b72ee5fa.f06458","type":"comment","z":"1721f7a9.1ec16","name":"IO-4 Tests","info":"1) Set the state of the LEDs\n\n2) Get the LED state by subscribing to topic:\nmosquitto_sub -v -t tinkerforge/bricklet/io4/gVf/configuration\n\nConvert the property value_mask to text ON or OFF\n","x":80,"y":1380,"wires":[]},{"id":"8a9b1f91.06b12","type":"mqtt in","z":"833cb648.87212","name":"","topic":"lighthouse58/pier/outdoorlight/switch/set","qos":"2","broker":"2ce03dcd.c24cc2","x":180,"y":340,"wires":[["3fca4530.c30942"]]},{"id":"fb93883f.44d158","type":"mqtt out","z":"6b378e15.b37fa","name":"Publish Switch Message","topic":"","qos":"","retain":"true","broker":"2ce03dcd.c24cc2","x":1290,"y":640,"wires":[]},{"id":"3548f889.f0b19","type":"delay","z":"6b378e15.b37fa","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":620,"wires":[["392c69bc.caa5f6"]]},{"id":"28b2c696.ebd70a","type":"ui_switch","z":"426ecb8d.e2a874","name":"Set Pier Outdoor Light Darkness Option","label":"Light On Darkness:","group":"3f5ba28b.9d580e","order":7,"width":0,"height":0,"passthru":true,"topic":"lighthouse58/pier/outdoorlight/darknessswitch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":620,"wires":[["23901f2.bd618e"]]},{"id":"7e1fe488.4c3414","type":"mqtt out","z":"426ecb8d.e2a874","name":"Publish Message","topic":"","qos":"","retain":"","broker":"2ce03dcd.c24cc2","x":1230,"y":620,"wires":[]},{"id":"23901f2.bd618e","type":"function","z":"426ecb8d.e2a874","name":"Set Global Data","func":"global.set(\"pieroutdoorlightdarknessswitch\", msg.payload);\nreturn msg;\n","outputs":"1","noerr":0,"x":900,"y":620,"wires":[["7e1fe488.4c3414"]]},{"id":"3fca4530.c30942","type":"switch","z":"833cb648.87212","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","outputs":1,"x":410,"y":340,"wires":[["214a0fb.485d3f"]]},{"id":"9fbd6290.1c4368","type":"ui_template","z":"426ecb8d.e2a874","group":"3f5ba28b.9d580e","name":"Lighthouse-Settings-Heading","order":1,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <p ng-style=\"{color: 'blue'}\">\n        Lighthouse\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":510,"y":260,"wires":[[]]},{"id":"9776b954.090a58","type":"ui_template","z":"426ecb8d.e2a874","group":"3f5ba28b.9d580e","name":"Pier-Outdoorlight-Settings-Heading","order":6,"width":0,"height":0,"format":"<!doctype html>\n<div>\n    <p ng-style=\"{color: 'blue'}\">\n       Pier Outdoor Light\n    </p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":530,"y":580,"wires":[[]]},{"id":"7f689c74.0f0834","type":"ui_numeric","z":"426ecb8d.e2a874","name":"Set Pier Outdoor Light On Darkness Level","label":"Light On Darkness Level:","group":"3f5ba28b.9d580e","order":8,"width":0,"height":0,"passthru":true,"topic":"lighthouse58/pier/outdoorlight/darknessswitchlevel","format":"{{value}}","min":0,"max":"200","x":550,"y":660,"wires":[["41b5c5c4.d254fc"]]},{"id":"41b5c5c4.d254fc","type":"function","z":"426ecb8d.e2a874","name":"Set Global Data","func":"global.set(\"pieroutdoorlightdarknessswitchlevel\", msg.payload);\nreturn msg;\n","outputs":"1","noerr":0,"x":900,"y":660,"wires":[["7e1fe488.4c3414"]]}]